@model GIR.Sigim.Presentation.WebUI.ViewModel.FormaRecebimentoViewModel

@{
    ViewBag.Title = "Forma de recebimento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_NotificationMessagesPartial")
<div class="row" style="margin: 0 0 13px 0;">
    <a href="javascript:novo();" class="btn btn-primary" style="float:right;">Novo</a>        
</div>
<div class="row">
    <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable centerBox">
        <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
            <header>
                <span class="widget-icon"><i class="fa fa-cog"></i></span>
                <h2>@ViewBag.Title</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    @using (Ajax.BeginForm(
                            "Salvar",
                            "FormaRecebimento",
                            null,
                            new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnSuccess = "refresh", UpdateTargetId = "notificationMessages" },
                            new { @id = "formCadastro", @class = "smart-form client-form", @novalidate = "novalidate" }))                                            
                    {
                        @Html.AntiForgeryToken()
                    <div class="panel-body no-padding">
                        <fieldset>
                            <div class="row">
                            <section class="col col-12">
                                @Html.HiddenFor(m => m.FormaRecebimento.Id)
                                @Html.LabelFor(m => m.FormaRecebimento.Descricao, new { @class = "label" })
                                <label class="input">
                                    @Html.TextBoxFor(m => m.FormaRecebimento.Descricao, new { @maxlength = "50",  @class = "required" })
                                </label>
                                @Html.ValidationMessageFor(m => m.FormaRecebimento.Descricao, "", new { @class = "note note-error" })
                            </section>
                            <section class="col col-6">
                                @Html.LabelFor(m => m.FormaRecebimento.TipoRecebimento, new { @class = "label" })                                
                                <label class="select">
                                    @Html.DropDownListFor(m => m.FormaRecebimento.TipoRecebimento, Model.ListaTipoRecebimento, string.Empty, new { @class="required" })<i></i>
                                </label>
                                @Html.ValidationMessageFor(m => m.FormaRecebimento.TipoRecebimento, "", new { @class = "note note-error" })
                            </section>
                            </div>                           
                        </fieldset>
                    </div>
                    <footer>                       
                        <button type="button" id="btnDeletar" class="btn btn-primary">
                            Deletar
                        </button>
                        <button type="submit" id="btnSalvar" class="btn btn-primary">
                            Salvar
                        </button>
                    </footer>
                    }                        
                    @using (Ajax.BeginForm(
                            "Lista",
                            "FormaRecebimento",
                            null,
                            new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnSuccess = "onSuccess", UpdateTargetId = "resultadoBusca" },
                            new { @id = "formFilter", @class = "smart-form client-form", @novalidate = "novalidate" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Filtro.PaginationParameters.PageIndex)
                        @Html.HiddenFor(m => m.Filtro.PaginationParameters.PageSize)
                        @Html.HiddenFor(m => m.Filtro.PaginationParameters.OrderBy)
                        @Html.HiddenFor(m => m.Filtro.PaginationParameters.Ascending)
                    }
                    <div id="resultadoBusca"></div>
                </div>
            </div>
        </div>
    </article>
</div>
@section scripts{
    @Html.EditorFor(m => m.Filtro.PaginationParameters, "ListPageScript")
}

<script type="text/javascript">
    $("#btnDeletar").on("click", function () {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Deletar", "FormaRecebimento")',
            cache: false,
            async: false,
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                id: $('#@Html.IdFor(m => m.FormaRecebimento.Id)').val()
            })
        })
        .success(function (result) {
            $('#notificationMessages').html(result);
            limpaPaginacao();
            clearForm();
            doFilter();
        });
    });

    function clearForm() {
        $('#@Html.IdFor(m => m.FormaRecebimento.Id)').val('');
        $('#@Html.IdFor(m => m.FormaRecebimento.Descricao)').val('');
        $('#@Html.IdFor(m => m.FormaRecebimento.TipoRecebimento)').val('');
    }

    function novo() {
        clearForm();
        $('#notificationMessages').html('');
        $('#FormaRecebimento_Descricao-error').remove();
        $('#FormaRecebimento_TipoRecebimento-error').remove();
        tratarBotoes(true, true);
    }

    function refresh() {
        onSuccess();
        clearForm();
        doFilter();
    }

    function loadItem(id) {
        novo();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("CarregarItem", "FormaRecebimento")',
            cache: false,
            async: false,
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                id: id
            })
        })
        .success(function (result) {
            $('#@Html.IdFor(m => m.FormaRecebimento.Id)').val(result.Id);
            $('#@Html.IdFor(m => m.FormaRecebimento.Descricao)').val(result.Descricao);
            $('#@Html.IdFor(m => m.FormaRecebimento.TipoRecebimento)').val(result.TipoRecebimento);
            $('#@Html.IdFor(m => m.FormaRecebimento.Automatico)').val(result.Automatico);
            $('#@Html.IdFor(m => m.FormaRecebimento.NumeroDias)').val(result.NumeroDias);
            tratarBotoes(!result.Automatico, !result.Automatico);
            goToTop();

        });
    }

    function limpaPaginacao() {
        $('#@Html.IdFor(m => m.Filtro.PaginationParameters.PageIndex)').val(0);
    }

    function tratarBotoes(condicaoSalvar, condicaoDeletar) {
        $("#@Html.IdFor(m => m.PodeSalvar)").val(condicaoSalvar);
         $("#@Html.IdFor(m => m.PodeDeletar)").val(condicaoDeletar);
         if (condicaoSalvar) {
             document.getElementById('btnSalvar').className = "btn btn-primary right";
         }
         else {
             document.getElementById('btnSalvar').className = "btn btn-primary right disabled";
         }
         if (condicaoDeletar) {
             document.getElementById('btnDeletar').className = "btn btn-primary";
         }
         else {
             document.getElementById('btnDeletar').className = "btn btn-primary disabled";
         }
    }
    
</script>

