@using GIR.Sigim.Application.DTO.Sigim
@model GIR.Sigim.Presentation.WebUI.ViewModel.ListaViewModel

@{
    IEnumerable<FormaRecebimentoDTO> Lista = Model.Records as IEnumerable<FormaRecebimentoDTO>;    
}

<div class="table-container">
    @if (Lista != null && Lista.Any())
    {
        <div class="dt-toolbar table-header hidden-xs">
            <div class="col-sm-12 col-xs-12">
                <div class="dataTables_length" id="dt_basic_length" style="float: right!important;">
                    <label>
                        @Html.DropDownListFor(
                            m => m.PageSize,
                            Model.PageSizeList,
                            new
                            {
                                @id = "pageSizeSelector",
                                @aria_controls = "dt_basic",
                                @class = "form-control",
                                onchange = "changePageSize();"
                            })
                    </label>
                </div>
            </div>
        </div>
        <div class="table-responsive" style="min-height: 115px; border: 1px solid #ddd; margin-bottom: 13px; overflow-x: auto;">
            <table id="tableSearchResult" class="table table-bordered table-striped table-condensed table-hover dataTable">
                <thead>
                    <tr role="row">
                        @{
        string sortingSuffix = Model.Ascending ? "_asc" : "_desc";
        string idSortingSuffix = "sorting";
        string descricaoSortingSuffix = "sorting";
        string tipoRecebimentoSortingSuffix = "sorting";
        string numeroDiasSortingSuffix = "sorting";  

        switch (Model.OrderBy)
        {            
            case "id":
                idSortingSuffix += sortingSuffix;
                break;                
            case "descricao":                
                descricaoSortingSuffix += sortingSuffix;
                break;
            case "tipoRecebimento":
                tipoRecebimentoSortingSuffix += sortingSuffix;
                break;
            case "numeroDias":
                numeroDiasSortingSuffix += sortingSuffix;
                break;       
            default:                
                break;
        }
                        }
                        <th class="sorting @idSortingSuffix text-right" data-order="id" style="width:60px;">Código</th>
                        <th class="sorting @descricaoSortingSuffix text-left" data-order="descricao" style="min-width:100px;">Descrição</th>   
                        <th class="sorting @tipoRecebimentoSortingSuffix text-left" data-order="tipoRecebimento" style="min-width:100px;">Tipo de recebimento</th>  
                        <th class="sorting @numeroDiasSortingSuffix text-right" data-order="numeroDias" style="min-width:100px;">Nº de dias</th>           
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Lista)
                    {
                        <tr>                                      
                            <td class="text-right"><a href="javascript:loadItem(@item.Id.ToString());">@item.Id</a></td>                                               
                            <td class="text-left">@item.Descricao</td>                            
                            <td class="text-left">@item.TipoRecebimentoDescricao</td>                            
                            <td class="text-right">@item.NumeroDias</td>                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @Html.Partial("_PaginationPartial", Model)
    }
</div>