@using GIR.Sigim.Application.DTO.OrdemCompra
@model GIR.Sigim.Presentation.WebUI.ViewModel.ListaViewModel

@{
    IEnumerable<RequisicaoMaterialDTO> Lista = Model.Records as IEnumerable<RequisicaoMaterialDTO>;
}

<div class="table-container">
    @if (Lista != null && Lista.Any())
    {
        <div class="dt-toolbar table-header hidden-xs">
            <div class="col-sm-12 col-xs-12">
                <div class="dataTables_length" id="dt_basic_length" style="float: right!important;">
                    <label>
                        @Html.DropDownListFor(
                            m => m.PageSize,
                            Model.PageSizeList,
                            new {
                                @id = "pageSizeSelector",
                                @aria_controls="dt_basic",
                                @class="form-control",
                                onchange="changePageSize();"
                            })
                    </label>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table id="tableSearchResult" class="table table-bordered table-striped table-condensed table-hover dataTable">
                <thead>
                    <tr role="row">
                        @{
                            string sortingSuffix = Model.Ascending ? "_asc" : "_desc";
                            string idSortingSuffix = "sorting";
                            string situacaoSortingSuffix = "sorting";
                            string dataRequisicaoSortingSuffix = "sorting";
                            string dataAprovacaoSortingSuffix = "sorting";
                            string centroCustoSortingSuffix = "sorting";
                            string observacaoSortingSuffix = "sorting";
                            string motivoCancelamentoSortingSuffix = "sorting";

                            switch (Model.OrderBy)
                            {
                                case "id":
                                    idSortingSuffix += sortingSuffix;
                                    break;
                                case "situacao":
                                    situacaoSortingSuffix += sortingSuffix;
                                    break;
                                case "dataRequisicao":
                                    dataRequisicaoSortingSuffix += sortingSuffix;
                                    break;
                                case "dataAprovacao":
                                    dataAprovacaoSortingSuffix += sortingSuffix;
                                    break;
                                case "centroCusto":
                                    centroCustoSortingSuffix += sortingSuffix;
                                    break;
                                case "observacao":
                                    observacaoSortingSuffix += sortingSuffix;
                                    break;
                                case "motivoCancelamento":
                                    motivoCancelamentoSortingSuffix += sortingSuffix;
                                    break;
                                default:
                                    break;
                            }
                        }
                        
                        <th class="sorting @idSortingSuffix text-center" data-order="id" style="min-width:65px;">Código</th>
                        <th class="sorting @situacaoSortingSuffix text-center" data-order="situacao" style="min-width:75px;">Situação</th>
                        <th class="sorting @dataRequisicaoSortingSuffix text-center" data-order="dataRequisicao" style="min-width:70px;">Data requisição</th>
                        <th class="sorting @dataAprovacaoSortingSuffix text-center" data-order="dataAprovacao" style="min-width:70px;">Data aprovação</th>
                        <th class="sorting @centroCustoSortingSuffix" data-order="centroCusto">Centro de custo</th>
                        <th class="sorting @observacaoSortingSuffix" data-order="observacao">Observação</th>
                        <th class="sorting @motivoCancelamentoSortingSuffix text-center" data-order="motivoCancelamento" style="min-width:100px;">Motivo cancelamento</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Lista)
                    {
                        <tr>
                            @*<td class="text-center">@Html.ActionLink(item.Id.ToString(), "Cadastro", new { id = item.Id })</td>*@
                            <td class="text-center"><a href="javascript:alert('Em construção.');">@item.Id</a></td>
                            <td class="text-center">@item.SituacaoDescricao</td>
                            <td class="text-center">@item.Data.ToShortDateString()</td>
                            <td class="text-center text-nowrap">
                                @if (item.DataAprovacao.HasValue)
                                {
                                    @item.DataAprovacao.Value.ToString("dd/MM/yyyy HH:mm");
                                }
                                &nbsp;
                            </td>
                            <td>@item.CentroCustoDescricao</td>
                            <td>@item.Observacao</td>
                            <td>@item.MotivoCancelamento</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @Html.Partial("_PaginationPartial", Model.Pagination)
    }
</div>