@model GIR.Sigim.Presentation.WebUI.Areas.Financeiro.ViewModel.TipoDocumentoViewModel

@{
    ViewBag.Title = "Tipo de documento";
}

@Html.Partial("_NotificationMessagesPartial")
<div class="row" style="margin: 0 0 13px 0;">
    <a href="javascript:novo();" class="btn btn-primary" style="float:right;">Novo</a>
</div>
<div class="row">
    <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable centerBox">
        <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
            <header>
                <span class="widget-icon"><i class="fa fa-cog"></i></span>
                <h2>@ViewBag.Title</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    @using (Ajax.BeginForm(
                            "Salvar",
                            "TipoDocumento",
                            null,
                            new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnSuccess = "refresh", UpdateTargetId = "notificationMessages" },
                            new { @id = "formCadastro", @class = "smart-form client-form", @novalidate = "novalidate" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="panel-body no-padding">
                            <fieldset>
                                <div class="row">
                                <section class="col col-4">
                                    @Html.HiddenFor(m => m.TipoDocumento.Id)
                                    @Html.LabelFor(m => m.TipoDocumento.Sigla, new { @class = "label" })
                                    <label class="input">
                                        @Html.TextBoxFor(m => m.TipoDocumento.Sigla, new { @maxlength = "5", @class = "required" })
                                    </label>
                                    @Html.ValidationMessageFor(m => m.TipoDocumento.Sigla, "", new { @class = "note note-error" })
                                </section>
                                </div>
                                <div class="row">
                                <section class="col col-12">
                                    @Html.LabelFor(m => m.TipoDocumento.Descricao, new { @class = "label" })
                                    <label class="input">
                                        @Html.TextBoxFor(m => m.TipoDocumento.Descricao, new { @maxlength = "50", @class = "required" })
                                    </label>
                                    @Html.ValidationMessageFor(m => m.TipoDocumento.Descricao, "", new { @class = "note note-error" })
                                </section>
                                </div>
                            </fieldset>
                        </div>
                        <div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-dialog-buttons ui-draggable" 
                            tabindex="-1" role="dialog" aria-describedby="dlgSimpleExcluirRegistro" aria-labelledby="ui-id-1" 
                                style="height: auto; width: 600px; top: 220px; left: 262px; display: none;">
                            <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
                                <span id="ui-id-1" class="ui-dialog-title">
                                </span>
                            </div>
                            <div id="dlgSimpleExcluirRegistro" class="ui-dialog-content ui-widget-content" style="width: auto; min-height: 0px; max-height: none; height: auto;">
	                            <p>
		                            Deseja excluir o registro selecionado ?
	                            </p>
                            </div>
                            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                                <div class="ui-dialog-buttonset">
                                </div>
                            </div>
                        </div>
                        <footer>
                            @{
                                string disableBtnDeletar = string.Empty;
                                if (!Model.PodeDeletar)
                                {
                                    disableBtnDeletar = "disabled";
                                }
                            }
                            <button type="button" id="btnDeletar" class="btn btn-danger @disableBtnDeletar">
                                Deletar
                            </button>
                            @{
                                var url = Url.Action("Imprimir", "TipoDocumento");
                            }
                            @Html.EditorFor(m => m.PodeImprimir, "Imprimir", new { @url = url })
                            @{
                                string disableBtnSalvar = string.Empty;
                                if (!Model.PodeSalvar)
                                {
                                    disableBtnSalvar = "disabled";
                                }
                            }
                            <button type="submit" class="btn btn-primary @disableBtnSalvar">
                                Gravar
                            </button>
                        </footer>
                    }
                    @using (Ajax.BeginForm(
                            "Lista",
                            "TipoDocumento",
                            null,
                            new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnSuccess = "onSuccess", UpdateTargetId = "resultadoBusca" },
                            new { @id = "formFilter" + Model.Filtro.PaginationParameters.UniqueIdentifier, @class = "smart-form client-form", @novalidate = "novalidate" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Filtro.PaginationParameters.PageIndex)
                        @Html.HiddenFor(m => m.Filtro.PaginationParameters.PageSize)
                        @Html.HiddenFor(m => m.Filtro.PaginationParameters.OrderBy)
                        @Html.HiddenFor(m => m.Filtro.PaginationParameters.Ascending)
                        @Html.HiddenFor(m => m.Filtro.PaginationParameters.UniqueIdentifier)
                    }
                    <div id="resultadoBusca"></div>
                </div>
            </div>
        </div>
    </article>
</div>
@section scripts{
    @Html.EditorFor(m => m.Filtro.PaginationParameters, "ListPageScript")
}

<script type="text/javascript">
    $(document).ready(function () {
        $('body').addClass("hidden-menu");

        listarFiltro();

        $(document).on("doFilter@(Model.Filtro.PaginationParameters.UniqueIdentifier)",
            function (e) {
                listarFiltro();
            }
        );

        $.widget("ui.dialog", $.extend({}, $.ui.dialog.prototype, {
            _title: function (title) {
                if (!this.options.title) {
                    title.html("&#160;");
                } else {
                    title.html(this.options.title);
                }
            }
        }));

        $('#dlgSimpleExcluirRegistro').dialog({
            autoOpen: false,
            width: 300,
            resizable: false,
            modal: true,
            title: "<div class='widget-header'><h4><i class='fa fa-warning'></i> Atenção</h4></div>",
            buttons: [{
                html: "Excluir",
                "class": "btn btn-primary",
                click: function () {
                    $(this).dialog("close");
                    excluirRegistro();
                }
            }, {
                html: "<i class='fa fa-times'></i>&nbsp; Cancelar",
                "class": "btn btn-default",
                click: function () {
                    $(this).dialog("close");
                }
            }]
        });

        $("#btnDeletar").on("click", function () {
            var id = $('#@Html.IdFor(m => m.TipoDocumento.Id)').val();
            if (id !== "") {
                $('#dlgSimpleExcluirRegistro').dialog('open');
            }
            else {
                smartAlert("Atenção", "Selecione um registro para excluir !", "warning");
            }
        });

        $(document).on("showFormatoImpressaoModalPanel", function (e) {
            parametrosUrlImpressao = '';
        });


    });

    function excluirRegistro() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Deletar", "TipoDocumento")',
            cache: false,
            async: false,
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                id: $('#@Html.IdFor(m => m.TipoDocumento.Id)').val()
            })
        })
        .success(function (result) {
            $('#notificationMessages').html(result);
            limpaPaginacao();
            clearForm();
            listarFiltro();
        });
    }


    function clearForm() {
        $('#@Html.IdFor(m => m.TipoDocumento.Id)').val('');
        $('#@Html.IdFor(m => m.TipoDocumento.Sigla)').val('');
        $('#@Html.IdFor(m => m.TipoDocumento.Descricao)').val('');
    }

    function novo() {
        clearForm();
        $('#notificationMessages').html('');
        $('#TipoCompromisso_Descricao-error').remove();
    }

    function refresh() {
        onSuccess();
        clearForm();
        listarFiltro();
    }

    function loadItem(id) {
        novo();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("CarregarItem", "TipoDocumento")',
            cache: false,
            async: false,
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                id: id
            })
        })
        .success(function (result) {
            $('#@Html.IdFor(m => m.TipoDocumento.Id)').val(result.Id);
            $('#@Html.IdFor(m => m.TipoDocumento.Descricao)').val(result.Descricao);
            $('#@Html.IdFor(m => m.TipoDocumento.Sigla)').val(result.Sigla);
            goToTop();
        });
    }

    function limpaPaginacao() {
        $('#@Html.IdFor(m => m.Filtro.PaginationParameters.PageIndex)').val(0);
    };

    function listarFiltro() {
        $('#formFilter@(Model.Filtro.PaginationParameters.UniqueIdentifier)').submit();
    }

</script>