@model GIR.Sigim.Presentation.WebUI.ViewModel.Admin.ChangePasswordViewModel
@{
    ViewBag.Title = "Alterar Senha";
    ViewBag.IsUploadForm = true;
}

@section style {
    <style type="text/css">
        fieldset legend
        {
            display: none;
        }
    </style>
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 centerBox">
        <div class="well no-padding">
            @using (Html.BeginForm("ChangePassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "formCadastro", @class = "smart-form client-form" }))
            {
                @Html.AntiForgeryToken()
                <header>@ViewBag.Title</header>
                <fieldset>
                    <legend></legend>
                    <section>
                        @Html.LabelFor(m => m.OldPassword, new { @class = "label" })
                        <label class="input">
                            <i class="icon-append fa fa-lock"></i>
                            @Html.PasswordFor(m => m.OldPassword)
                        </label>
                        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "note note-error" })
                    </section>
                    <section>
                        @Html.LabelFor(m => m.NewPassword, new { @class = "label" })
                        <label class="input">
                            <i class="icon-append fa fa-lock"></i>
                            @Html.PasswordFor(m => m.NewPassword)
                        </label>
                        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "note note-error" })
                    </section>
                    <section id="teste">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "label" })
                        <label class="input">
                            <i class="icon-append fa fa-lock"></i>
                            @Html.PasswordFor(m => m.ConfirmPassword)
                        </label>
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "note note-error" })
                    </section>
                </fieldset>
                <footer>
                    <a href="javascript:validarFormulario();">Validar</a>
                    <button type="submit" class="btn btn-primary">
                        Salvar
                    </button>
                </footer>
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    function validarFormulario() {
        //var $form = $('form.client-form');
        //$("#myinput").rules("remove");
        $('#teste').find('input, select, textarea').each(function (index, item) {
            $(item).rules("remove");
            //if ($(item).valid())
            //    alert(item.name + ' Válido');
            //else
            //    alert(item.name + ' Inválido');
        });
    }
</script>