@using GIR.Sigim.Application.DTO.Sigim
@model GIR.Sigim.Presentation.WebUI.ViewModel.ListaViewModel

@{
    IEnumerable<UnidadeMedidaDTO> Lista = Model.Records as IEnumerable<UnidadeMedidaDTO>;    
}

<div class="table-container">
    @if (Lista != null && Lista.Any())
    {
        <div class="dt-toolbar table-header hidden-xs">
            <div class="col-sm-12 col-xs-12">
                <div class="dataTables_length" id="dt_basic_length" style="float: right!important;">
                    <label>
                        @Html.DropDownListFor(
                            m => m.PageSize,
                            Model.PageSizeList,
                            new
                            {
                                @id = "pageSizeSelector",
                                @aria_controls = "dt_basic",
                                @class = "form-control",
                                onchange = "changePageSize();"
                            })
                    </label>
                </div>
            </div>
        </div>
        <div class="table-responsive" style="min-height: 115px; border: 1px solid #ddd; margin-bottom: 13px; overflow-x: auto;">
            <table id="tableSearchResult" class="table table-bordered table-striped table-condensed table-hover dataTable">
                <thead>
                    <tr role="row">
                        @{
        string sortingSuffix = Model.Ascending ? "_asc" : "_desc";
        string siglaSortingSuffix = "sorting";
        string descricaoSortingSuffix = "sorting";        

        switch (Model.OrderBy)
        {            
            case "sigla":
                siglaSortingSuffix += sortingSuffix;
                break;                
            case "descricao":                
                descricaoSortingSuffix += sortingSuffix;
                break;           
            default:
                break;
        }
                        }
                        <th class="sorting @siglaSortingSuffix text-center" data-order="sigla" style="width:60px;">Sigla</th>
                        <th class="sorting @descricaoSortingSuffix text-center" data-order="descricao" style="min-width:100px;">Descrição</th>            
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Lista)
                    {
                        <tr>                                      
                            <td class="text-right"><a href="javascript:loadItem('@item.Sigla');">@item.Sigla</a></td>                                                  
                            <td class="text-center">@item.Descricao</td>                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @Html.Partial("_PaginationPartial", Model)
    }
</div>