@using GIR.Sigim.Application.DTO.Financeiro
@model GIR.Sigim.Presentation.WebUI.ViewModel.ListaViewModel

@{
    IEnumerable<RelAcompanhamentoFinanceiroDTO> Lista = Model.Records as IEnumerable<RelAcompanhamentoFinanceiroDTO>;
}

<div class="table-container">
    @if (Lista != null && Lista.Any())
    {
        <div class="dt-toolbar table-header hidden-xs">
            <div class="col-sm-12 col-xs-12">
                <div class="dataTables_length" id="dt_basic_length" style="float: right!important;">
                    <label>
                        @Html.DropDownListFor(
                            m => m.PageSize,
                            Model.PageSizeList,
                            new
                            {
                                @id = "pageSizeSelector" + Model.UniqueIdentifier,
                                @aria_controls = "dt_basic",
                                @class = "form-control"
                            })
                    </label>
                </div>
            </div>
        </div>
        <div class="table-responsive" style="width:100%; overflow-x:auto;">
            <table id="tableSearchResult@(Model.UniqueIdentifier)" class="table table-bordered table-striped table-condensed table-hover dataTable">
                <thead>
                    <tr role="row">
                        @{
                            string sortingSuffix = Model.Ascending ? "_asc" : "_desc";
                            string classeSortingSuffix = "sorting";
                            string classeDescricaoSortingSuffix = "sorting";
                            string orcamentoInicialSortingSuffix = "sorting";
                            string orcamentoAtualSortingSuffix = "sorting";
                            string despesaAcumuladaSortingSuffix = "sorting";
                            string percentualExecutadoSortingSuffix = "sorting";
                            string comprometidoFuturoSortingSuffix = "sorting";
                            string percentualComprometidoSortingSuffix = "sorting";                           
                            string resultadoAcrescimoSortingSuffix = "sorting";
                            string resultadoSaldoSortingSuffix = "sorting";
                            string descricaoClasseFechadaSortingSuffix = "sorting";
                            string conclusaoSortingSuffix = "sorting";
                            
                            switch (Model.OrderBy)
                            {
                                case "classe":
                                    classeSortingSuffix += sortingSuffix;
                                    break;
                                case "classeDescricao":
                                    classeDescricaoSortingSuffix += sortingSuffix;
                                    break;
                                case "orcamentoInicial":
                                    orcamentoInicialSortingSuffix += sortingSuffix;
                                    break;
                                case "orcamentoAtual":
                                    orcamentoAtualSortingSuffix += sortingSuffix;
                                    break;
                                case "despesaAcumulada":
                                    despesaAcumuladaSortingSuffix += sortingSuffix;
                                    break;
                                case "percentualExecutado":
                                    percentualExecutadoSortingSuffix += sortingSuffix;
                                    break;
                                case "comprometidoFuturo":
                                    comprometidoFuturoSortingSuffix += sortingSuffix;
                                    break;
                                case "percentualComprometido":
                                    percentualComprometidoSortingSuffix += sortingSuffix;
                                    break;
                                case "resultadoAcrescimo":
                                    resultadoAcrescimoSortingSuffix += sortingSuffix;
                                    break;
                                case "resultadoSaldo":
                                    resultadoSaldoSortingSuffix += sortingSuffix;
                                    break;
                                case "descricaoClasseFechada":
                                    descricaoClasseFechadaSortingSuffix += sortingSuffix;
                                    break;
                                case "conclusao":
                                    conclusaoSortingSuffix += sortingSuffix;
                                    break;
                                default:
                                    break;
                            }
                        }
                        <th class="sorting @classeSortingSuffix text-left" data-order="classe" style="min-width:60px;">Classe</th>
                        <th class="sorting @classeDescricaoSortingSuffix text-left" data-order="classeDescricao" style="min-width:70px;">Descrição</th>
                        <th class="sorting @orcamentoInicialSortingSuffix text-left" data-order="orcamentoInicial" style="min-width:80px;">Orçamento inicial</th>
                        <th class="sorting @orcamentoAtualSortingSuffix text-left" data-order="orcamentoAtual" style="min-width:70px;">Orçamento final (A)</th>
                        <th class="sorting @despesaAcumuladaSortingSuffix text-left" data-order="despesaAcumulada" style="min-width:60px;">Despesa executadas (B)</th>
                        <th class="sorting @percentualExecutadoSortingSuffix text-left" data-order="percentualExecutado" style="min-width:60px;">% executado</th>
                        <th class="sorting @comprometidoFuturoSortingSuffix text-left" data-order="comprometidoFuturo" style="min-width:60px;">Comprometido (C)</th>
                        <th class="sorting @percentualComprometidoSortingSuffix text-left" data-order="percentualComprometido" style="min-width:60px;">% comprometido</th>
                        <th class="sorting @resultadoAcrescimoSortingSuffix text-left" data-order="resultadoAcrescimo" style="min-width:100px;">Resultado acréscimo (-) (A-(B+C))</th>
                        <th class="sorting @resultadoSaldoSortingSuffix text-left" data-order="resultaSaldo" style="min-width:70px;">Resultado saldo (+) (A-(B+C))</th>
                        <th class="sorting @descricaoClasseFechadaSortingSuffix text-left" data-order="descricaoClasseFechada" style="min-width:70px;"></th>
                        <th class="sorting @conclusaoSortingSuffix text-left" data-order="conclusao" style="min-width:80px;">Tendências conclusão (A) ou (B+C) ou (B)</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Lista)
                    {

                        string style = "color:black";
                        if (@item.AssinalarRegistro)
                        {
                            style = "color:red";
                        }
                        
                        <tr>
                            <td class="text-left text-nowrap" style="@style">@item.CodigoClasse</td>
                            <td class="text-left text-nowrap" style="@style">@item.DescricaoClasse</td>
                            <td class="text-right text-nowrap" style="@style">@item.OrcamentoInicial.ToString("N2")</td>
                            <td class="text-right text-nowrap" style="@style">@item.OrcamentoAtual.ToString("N2")</td>
                            <td class="text-right text-nowrap" style="@style">@item.DespesaAcumulada.ToString("N2")</td>
                            <td class="text-right text-nowrap" style="@style">@item.PercentualExecutado.ToString("N5")</td>
                            <td class="text-right text-nowrap" style="@style">@item.ComprometidoFuturo.ToString("N2")</td>
                            <td class="text-right text-nowrap" style="@style">@item.PercentualComprometido.ToString("N5")</td>
                            <td class="text-right text-nowrap" style="@style">@item.ResultadoAcrescimo.ToString("N2")</td>
                            <td class="text-right text-nowrap" style="@style">@item.ResultadoSaldo.ToString("N2")</td>
                            <td class="text-left text-nowrap" style="@style">@item.DescricaoClasseFechada</td>                           
                            <td class="text-right text-nowrap" style="@style">@item.Conclusao.ToString("N2")</td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
        @Html.Partial("_PaginationPartial", Model)
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {

        $('body').addClass("hidden-menu");
    });
</script>