@model GIR.Sigim.Presentation.WebUI.Areas.OrdemCompra.ViewModel.EntradaMaterialCadastroViewModel

@{
    ViewBag.Title = "Entrada de material";
}

@Html.Partial("_NotificationMessagesPartial")
<div class="row" style="margin: 0 0 13px 0;">
    @Html.ActionLink("Novo", "Cadastro", new { @id = "" }, new { @class = "btn btn-primary", @style = "float:right;" })
</div>
<div class="row">
    <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable centerBox">
        <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
            <header>
                <span class="widget-icon"><i class="fa fa-cog"></i></span>
                <h2>@ViewBag.Title</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    @using (Ajax.BeginForm(
                        "Cadastro",
                        "EntradaMaterial",
                        null,
                        new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnSuccess = "onSuccess", UpdateTargetId = "notificationMessages" },
                        new { @id = "formCadastro", @class = "smart-form client-form", @novalidate = "novalidate" }))
                    {
                        @Html.AntiForgeryToken()
                        <fieldset>
                            <div class="row">
                                <section class="col col-3">
                                    @Html.LabelFor(m => m.EntradaMaterial.Id, new { @class = "label" })
                                    <label class="input">
                                        @Html.TextBoxFor(m => m.EntradaMaterial.Id, new { @readonly = "", @class = "readonly" })
                                    </label>
                                </section>
                                <section class="col col-3">
                                    @Html.LabelFor(m => m.EntradaMaterial.Data, new { @class = "label" })
                                    <label class="input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        @Html.TextBoxFor(m => m.EntradaMaterial.Data, "{0:dd/MM/yyyy}", new { @class = "required" })
                                    </label>
                                    @Html.ValidationMessageFor(m => m.EntradaMaterial.Data, "Informe uma data válida.", new { @class = "note note-error" })
                                </section>
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $('#@Html.IdFor(m => m.EntradaMaterial.Data)').datepicker({
                                            prevText: '<i class="fa fa-chevron-left"></i>',
                                            nextText: '<i class="fa fa-chevron-right"></i>',
                                            changeMonth: true,
                                            changeYear: true,
                                            onClose: function (selectedDate) {
                                                $(this).valid();
                                            }
                                        });
                                    });
                                </script>
                                <section class="col col-4">
                                    @Html.LabelFor(m => m.EntradaMaterial.SituacaoDescricao, new { @class = "label" })
                                    <label class="input">
                                        @Html.TextBoxFor(m => m.EntradaMaterial.SituacaoDescricao, new { @readonly = "", @class = "readonly" })
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="row">
                                <section class="col col-6">
                                    @Html.LabelFor(m => m.EntradaMaterial.Observacao, new { @class = "label" })
                                    <label class="textarea">
                                        @Html.TextAreaFor(m => m.EntradaMaterial.Observacao, new { rows = 5, style = "height:176px;" })
                                    </label>
                                    @Html.ValidationMessageFor(m => m.EntradaMaterial.Observacao, "", new { @class = "note note-error" })
                                </section>
                                <section class="col col-6" style="padding: 0;">
                                    <section class="col col-12" style="padding: 0; margin: 0;">
                                        <section class="col col-6">
                                            @Html.LabelFor(m => m.EntradaMaterial.LoginUsuarioCadastro, new { @class = "label" })
                                            <label class="input">
                                                @Html.TextBoxFor(m => m.EntradaMaterial.LoginUsuarioCadastro, new { @readonly = "", @class = "readonly" })
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            @Html.LabelFor(m => m.EntradaMaterial.DataCadastro, new { @class = "label" })
                                            <label class="input">
                                                <i class="icon-append fa fa-calendar"></i>
                                                @Html.TextBoxFor(m => m.EntradaMaterial.DataCadastro, "{0:dd/MM/yyyy}", new { @readonly = "", @class = "readonly" })
                                            </label>
                                        </section>
                                    </section>
                                    <section class="col col-12" style="padding: 0; margin: 0;">
                                        <section class="col col-6">
                                            @Html.LabelFor(m => m.EntradaMaterial.LoginUsuarioLiberacao, new { @class = "label" })
                                            <label class="input">
                                                @Html.TextBoxFor(m => m.EntradaMaterial.LoginUsuarioLiberacao, new { @readonly = "", @class = "readonly" })
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            @Html.LabelFor(m => m.EntradaMaterial.DataLiberacao, new { @class = "label" })
                                            <label class="input">
                                                <i class="icon-append fa fa-calendar"></i>
                                                @Html.TextBoxFor(m => m.EntradaMaterial.DataLiberacao, "{0:dd/MM/yyyy}", new { @readonly = "", @class = "readonly" })
                                            </label>
                                        </section>
                                    </section>
                                </section>
                            </div>
                        </fieldset>
                        <footer>
                            @Html.ActionLink("Voltar", "Index", null, null, new { @class = "btn btn-primary" })
                            @{
                                string disableBtnCancelar = string.Empty;
                                if (!Model.PodeCancelarEntrada)
                                {
                                    disableBtnCancelar = "disabled";
                                }
                            }
                            <a id="btnCancelarEntrada" href="#MotivoCancelamento_ModalPanel" class="btn btn-danger @disableBtnCancelar">Cancelar</a>
                            @if (Model.PodeCancelarEntrada) {
                                <div class="modal fade" id="MotivoCancelamento_ModalPanel" tabindex="-1" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    &times;
                                                </button>
                                                <h4 class="modal-title">
                                                    Motivo do Cancelamento
                                                </h4>
                                            </div>
                                            <div class="modal-body">
                                                @if (!Model.ExisteMovimentoNoEstoque) {
                                                    <article class="col-sm-12">
                                                        <div class="alert alert-info alert-block fade in">
                                                            <h4 class="alert-heading">Informação</h4>
                                                            O cancelamento não irá abater a quantidade do insumo no estoque.
                                                            Porque, quando da entrada desse insumo, o sistema não o incluiu no estoque.<br />
                                                            Em caso de dúvida, favor anotar o número da Entrada de Material e reportar a GIR.
                                                        </div>
                                                    </article>
                                                }
                                                <label class="textarea">
                                                    @Html.TextAreaFor(m => m.EntradaMaterial.MotivoCancelamento, new { @rows = "3" })
                                                </label>
                                            </div>
                                            <div class="modal-footer">
								                <button type="button" id="btnConfirmaCancelamentoEntrada" class="btn btn-primary">
									                Ok
								                </button>
							                </div>
                                        </div>
                                    </div>
                                    <script type="text/javascript">
                                        $("#btnCancelarEntrada").on("click", function () {
                                            $.ajax({
                                                type: 'POST',
                                                url: '@Url.Action("HaPossibilidadeCancelamentoEntradaMaterial", "EntradaMaterial")',
                                                cache: false,
                                                async: false,
                                                contentType: 'application/json; charset=utf-8',
                                                data: JSON.stringify({
                                                    entradaMaterialId: '@Html.DisplayFor(m => m.EntradaMaterial.Id)'
                                                })
                                            })
                                            .success(function (result) {
                                                if (result.HaPossibilidadeCancelamentoEntradaMaterial)
                                                    $('#MotivoCancelamento_ModalPanel').modal('show');
                                                else {
                                                    var errorMessages = result.ErrorMessages;
                                                    if (errorMessages.length !== 0) {
                                                        for (var i = 0; i < errorMessages.length; i++)
                                                            smartAlert("Erro", errorMessages[i].Text, "error");
                                                    }
                                                }
                                            });
                                        });

                                        $("#btnConfirmaCancelamentoEntrada").on("click", function () {
                                            var motivo = $("#@Html.IdFor(m => m.EntradaMaterial.MotivoCancelamento)").val();
                                            if (motivo.length != 0) {
                                                $.ajax({
                                                    type: 'POST',
                                                    url: '@Url.Action("Cancelar", "EntradaMaterial")',
                                                    cache: false,
                                                    async: false,
                                                    contentType: 'application/json; charset=utf-8',
                                                    data: JSON.stringify({
                                                        id: '@Html.DisplayFor(m => m.EntradaMaterial.Id)',
                                                        motivo: motivo
                                                    })
                                                })
                                                .success(function (result) {
                                                    $('#notificationMessages').html(result);
                                                });
                                            }
                                            else
                                                smartAlert("Erro", "@GIR.Sigim.Application.Resource.OrdemCompra.ErrorMessages.InformeMotivoCancelamentoEntradaMaterial", "error");
                                        });
                                    </script>
                                </div>
                            }

                            @{
                                var url = Url.Action("Imprimir", "EntradaMaterial") + "/" + @Html.DisplayFor(m => m.EntradaMaterial.Id);
                            }
                            @Html.EditorFor(m => m.PodeImprimir, "Imprimir", new { @url = url } )
                            
                            @{
                                string disableBtnSalvar = string.Empty;
                                if (!Model.PodeSalvar)
                                {
                                    disableBtnSalvar = "disabled";
                                }
                            }
                            <button id="btnSalvar" type="submit" class="btn btn-primary right @disableBtnSalvar">
                                Salvar
                            </button>
                        </footer>
                    }
                </div>
            </div>
        </div>
    </article>
</div>