@model GIR.Sigim.Presentation.WebUI.Areas.OrdemCompra.ViewModel.EntradaMaterialCadastroViewModel

@{
    ViewBag.Title = "Entrada de material";
}

@Html.Partial("_NotificationMessagesPartial")
<div class="row" style="margin: 0 0 13px 0;">
    @{
        string disablebtnLiberarTitulos = string.Empty;
        if (!Model.PodeLiberarTitulos)
        {
            disablebtnLiberarTitulos = "disabled";
        }
    }
    <button id="btnLiberarTitulos" type="button" class="btn btn-primary @disablebtnLiberarTitulos" title="Liberar títulos para o Financeiro">
        Liberar Títulos
    </button>
    @Html.ActionLink("Novo", "Cadastro", new { @id = "" }, new { @class = "btn btn-primary", @style = "float:right;" })
</div>
<div class="row">
    <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable centerBox">
        <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
            <header>
                <span class="widget-icon"><i class="fa fa-cog"></i></span>
                <h2>@ViewBag.Title</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    @using (Ajax.BeginForm(
                        "Cadastro",
                        "EntradaMaterial",
                        null,
                        new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnSuccess = "onSuccess", UpdateTargetId = "notificationMessages" },
                        new { @id = "formCadastro", @class = "smart-form client-form", @novalidate = "novalidate" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="panel-group smart-accordion-default" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseGeral" class="">
                                            <i class="fa fa-lg fa-angle-down pull-right"></i>
                                            <i class="fa fa-lg fa-angle-up pull-right"></i>
                                            Entrada de material
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseGeral" class="panel-collapse collapse in">
                                    <div class="panel-body no-padding">
                                        <fieldset>
                                            <div class="row">
                                                <section class="col col-3">
                                                    @Html.LabelFor(m => m.EntradaMaterial.Id, new { @class = "label" })
                                                    <label class="input">
                                                        @Html.TextBoxFor(m => m.EntradaMaterial.Id, new { @readonly = "", @class = "readonly" })
                                                    </label>
                                                </section>
                                                <section class="col col-3">
                                                    @Html.LabelFor(m => m.EntradaMaterial.Data, new { @class = "label" })
                                                    <label class="input">
                                                        <i class="icon-append fa fa-calendar"></i>
                                                        @Html.TextBoxFor(m => m.EntradaMaterial.Data, "{0:dd/MM/yyyy}", new { @class = "required" })
                                                    </label>
                                                    @Html.ValidationMessageFor(m => m.EntradaMaterial.Data, "Informe uma data válida.", new { @class = "note note-error" })
                                                </section>
                                                <script type="text/javascript">
                                                    $(document).ready(function () {
                                                        $('#@Html.IdFor(m => m.EntradaMaterial.Data)').datepicker({
                                                            prevText: '<i class="fa fa-chevron-left"></i>',
                                                            nextText: '<i class="fa fa-chevron-right"></i>',
                                                            changeMonth: true,
                                                            changeYear: true,
                                                            onClose: function (selectedDate) {
                                                                $(this).valid();
                                                            }
                                                        });
                                                    });
                                                </script>
                                                <section class="col col-4">
                                                    @Html.LabelFor(m => m.EntradaMaterial.SituacaoDescricao, new { @class = "label" })
                                                    <label class="input">
                                                        @Html.TextBoxFor(m => m.EntradaMaterial.SituacaoDescricao, new { @readonly = "", @class = "readonly" })
                                                    </label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                @Html.EditorFor(m => m.EntradaMaterial.CentroCusto, "CentroCusto", new { @sectionClass = "col col-3", @labelText = "Centro de Custo", @somenteNivelFolha = true, @required = true, @podeEdidar = Model.PodeEditarCentroCusto })
                                                <input type="hidden" id="orcamentoId" value="0" />
                                            </div>
                                            <div class="row">
                                                @Html.EditorFor(m => m.EntradaMaterial.ClienteFornecedor, "ClienteFornecedorPesquisaGenerica", 
                                                    new { @sectionClass = "col col-6", 
                                                            @required = true, 
                                                            @label = "Fornecedor", 
                                                            @clienteFornecedorModulo = ((int)GIR.Sigim.Application.Enums.ClienteFornecedorModuloAutoComplete.OrdemCompra),
                                                            @situacao = ((int)GIR.Sigim.Application.Enums.SituacaoAutoComplete.Ativo),
                                                            @exibirBotaoPesquisa = true,
                                                            @podeEdidar = Model.PodeEditarFornecedor
                                                    })

                                                @Html.EditorFor(m => m.EntradaMaterial.FornecedorNota, "ClienteFornecedorPesquisaGenerica", 
                                                    new { @sectionClass = "col col-6", 
                                                            @required = false, 
                                                            @label = "Fornecedor NF", 
                                                            @clienteFornecedorModulo = ((int)GIR.Sigim.Application.Enums.ClienteFornecedorModuloAutoComplete.OrdemCompra),
                                                            @situacao = ((int)GIR.Sigim.Application.Enums.SituacaoAutoComplete.Ativo),
                                                            @exibirBotaoPesquisa = true
                                                    })
                                            </div>
                                            <div class="row">
                                                <section class="col col-12" style="margin-top:15px;">
                                                    <ul id="notaFiscalTab" class="nav nav-tabs bordered">
											            <li class="active">
												            <a href="#notaFiscalTabContentDadosNF" data-toggle="tab">Dados da Nota Fiscal</a>
											            </li>
											            <li>
												            <a href="#notaFiscalTabContentDadosGerais" data-toggle="tab">Dados Gerais</a>
											            </li>
                                                        <li>
												            <a href="#notaFiscalTabContentCodigoBarras" data-toggle="tab">Código de barras</a>
											            </li>
										            </ul>

                                                    <div id="notaFiscalTabContent" class="tab-content padding-10">
											            <div class="tab-pane fade active in" id="notaFiscalTabContentDadosNF">
                                                            <div class="row">
                                                                <section class="col col-3">
                                                                    @Html.LabelFor(m => m.EntradaMaterial.TipoNotaFiscalId, new { @class = "label" })
                                                                    <label class="select">
                                                                        @Html.DropDownListFor(m => m.EntradaMaterial.TipoNotaFiscalId, Model.ListaTipoNotaFiscal, string.Empty, new { @class = "required" })
                                                                        <i></i>
                                                                    </label>
                                                                    @Html.ValidationMessageFor(m => m.EntradaMaterial.TipoNotaFiscalId, "", new { @class = "note note-error" })
                                                                </section>
                                                                <section class="col col-3">
                                                                    @Html.LabelFor(m => m.EntradaMaterial.NumeroNotaFiscal, new { @class = "label" })
                                                                    <label class="input">
                                                                        @Html.TextBoxFor(m => m.EntradaMaterial.NumeroNotaFiscal, new { @class = "required" })
                                                                    </label>
                                                                    @Html.ValidationMessageFor(m => m.EntradaMaterial.NumeroNotaFiscal, "", new { @class = "note note-error" })
                                                                </section>
                                                                <section class="col col-3">
                                                                    @Html.LabelFor(m => m.EntradaMaterial.DataEmissaoNota, new { @class = "label" })
                                                                    <label class="input">
                                                                        <i class="icon-append fa fa-calendar"></i>
                                                                        @Html.TextBoxFor(m => m.EntradaMaterial.DataEmissaoNota, "{0:dd/MM/yyyy}", new { @class = "required" })
                                                                    </label>
                                                                    @Html.ValidationMessageFor(m => m.EntradaMaterial.DataEmissaoNota, "Informe uma data válida.", new { @class = "note note-error" })
                                                                </section>
                                                                <script type="text/javascript">
                                                                    $(document).ready(function () {
                                                                        $('#@Html.IdFor(m => m.EntradaMaterial.DataEmissaoNota)').datepicker({
                                                                            prevText: '<i class="fa fa-chevron-left"></i>',
                                                                            nextText: '<i class="fa fa-chevron-right"></i>',
                                                                            changeMonth: true,
                                                                            changeYear: true,
                                                                            onClose: function (selectedDate) {
                                                                                $(this).valid();
                                                                            }
                                                                        });
                                                                    });
                                                                </script>
                                                                <section class="col col-3">
                                                                    @Html.LabelFor(m => m.EntradaMaterial.DataEntregaNota, new { @class = "label" })
                                                                    <label class="input">
                                                                        <i class="icon-append fa fa-calendar"></i>
                                                                        @Html.TextBoxFor(m => m.EntradaMaterial.DataEntregaNota, "{0:dd/MM/yyyy}", new { @class = "required" })
                                                                    </label>
                                                                    @Html.ValidationMessageFor(m => m.EntradaMaterial.DataEntregaNota, "Informe uma data válida.", new { @class = "note note-error" })
                                                                </section>
                                                                <script type="text/javascript">
                                                                    $(document).ready(function () {
                                                                        $('#@Html.IdFor(m => m.EntradaMaterial.DataEntregaNota)').datepicker({
                                                                            prevText: '<i class="fa fa-chevron-left"></i>',
                                                                            nextText: '<i class="fa fa-chevron-right"></i>',
                                                                            changeMonth: true,
                                                                            changeYear: true,
                                                                            onClose: function (selectedDate) {
                                                                                $(this).valid();
                                                                            }
                                                                        });
                                                                    });
                                                                </script>
                                                            </div>
											            </div>
											            <div class="tab-pane fade" id="notaFiscalTabContentDadosGerais">
												            <div class="row">
                                                                <section class="col col-4">
                                                                    @Html.LabelFor(m => m.EntradaMaterial.CodigoTipoCompra, new { @class = "label" })
                                                                    <label class="select">
                                                                        @Html.DropDownListFor(m => m.EntradaMaterial.CodigoTipoCompra, Model.ListaTipoCompra, string.Empty)
                                                                        <i></i>
                                                                    </label>
                                                                    @Html.ValidationMessageFor(m => m.EntradaMaterial.CodigoTipoCompra, "", new { @class = "note note-error" })
                                                                </section>
                                                                <section class="col col-4">
                                                                    @Html.LabelFor(m => m.EntradaMaterial.CifFobId, new { @class = "label" })
                                                                    <label class="select">
                                                                        @Html.DropDownListFor(m => m.EntradaMaterial.CifFobId, Model.ListaCifFob, string.Empty)
                                                                        <i></i>
                                                                    </label>
                                                                    @Html.ValidationMessageFor(m => m.EntradaMaterial.CifFobId, "", new { @class = "note note-error" })
                                                                </section>
                                                                <section class="col col-4">
                                                                    @Html.LabelFor(m => m.EntradaMaterial.CodigoNaturezaOperacao, new { @class = "label" })
                                                                    <label class="select">
                                                                        @Html.DropDownListFor(m => m.EntradaMaterial.CodigoNaturezaOperacao, Model.ListaNaturezaOperacao, string.Empty)
                                                                        <i></i>
                                                                    </label>
                                                                    @Html.ValidationMessageFor(m => m.EntradaMaterial.CodigoNaturezaOperacao, "", new { @class = "note note-error" })
                                                                </section>
                                                            </div>
                                                            <div class="row">
                                                                <section class="col col-4">
                                                                    @Html.LabelFor(m => m.EntradaMaterial.SerieNFId, new { @class = "label" })
                                                                    <label class="select">
                                                                        @Html.DropDownListFor(m => m.EntradaMaterial.SerieNFId, Model.ListaSerieNF, string.Empty)
                                                                        <i></i>
                                                                    </label>
                                                                    @Html.ValidationMessageFor(m => m.EntradaMaterial.SerieNFId, "", new { @class = "note note-error" })
                                                                </section>
                                                                <section class="col col-4">
                                                                    @Html.LabelFor(m => m.EntradaMaterial.CodigoCST, new { @class = "label" })
                                                                    <label class="select">
                                                                        @Html.DropDownListFor(m => m.EntradaMaterial.CodigoCST, Model.ListaCST, string.Empty)
                                                                        <i></i>
                                                                    </label>
                                                                    @Html.ValidationMessageFor(m => m.EntradaMaterial.CodigoCST, "", new { @class = "note note-error" })
                                                                </section>
                                                                <section class="col col-4">
                                                                    @Html.LabelFor(m => m.EntradaMaterial.CodigoContribuicaoId, new { @class = "label" })
                                                                    <label class="select">
                                                                        @Html.DropDownListFor(m => m.EntradaMaterial.CodigoContribuicaoId, Model.ListaCodigoContribuicao, string.Empty)
                                                                        <i></i>
                                                                    </label>
                                                                    @Html.ValidationMessageFor(m => m.EntradaMaterial.CodigoContribuicaoId, "", new { @class = "note note-error" })
                                                                </section>
                                                            </div>
											            </div>
                                                        <div class="tab-pane fade" id="notaFiscalTabContentCodigoBarras">
                                                            <div class="row">
                                                                <section class="col col-12">
                                                                    @Html.LabelFor(m => m.EntradaMaterial.CodigoBarras, new { @class = "label" })
                                                                    <label class="input">
                                                                        @Html.TextBoxFor(m => m.EntradaMaterial.CodigoBarras, new { @class = "text-right numeric", @maxlength = 50 })
                                                                    </label>
                                                                    @Html.ValidationMessageFor(m => m.EntradaMaterial.CodigoBarras, "", new { @class = "note note-error" })
                                                                </section>
                                                            </div>
                                                        </div>
										            </div>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section class="col col-12">
                                                    @Html.LabelFor(m => m.EntradaMaterial.Observacao, new { @class = "label" })
                                                    <label class="textarea">
                                                        @Html.TextAreaFor(m => m.EntradaMaterial.Observacao, new { rows = 4 })
                                                    </label>
                                                    @Html.ValidationMessageFor(m => m.EntradaMaterial.Observacao, "", new { @class = "note note-error" })
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section class="col col-3">
                                                    @Html.LabelFor(m => m.EntradaMaterial.LoginUsuarioCadastro, new { @class = "label" })
                                                    <label class="input">
                                                        @Html.TextBoxFor(m => m.EntradaMaterial.LoginUsuarioCadastro, new { @readonly = "", @class = "readonly" })
                                                    </label>
                                                </section>
                                                <section class="col col-3">
                                                    @Html.LabelFor(m => m.EntradaMaterial.DataCadastro, new { @class = "label" })
                                                    <label class="input">
                                                        <i class="icon-append fa fa-calendar"></i>
                                                        @Html.TextBoxFor(m => m.EntradaMaterial.DataCadastro, "{0:dd/MM/yyyy}", new { @readonly = "", @class = "readonly" })
                                                    </label>
                                                </section>
                                                <section class="col col-3">
                                                    @Html.LabelFor(m => m.EntradaMaterial.LoginUsuarioLiberacao, new { @class = "label" })
                                                    <label class="input">
                                                        @Html.TextBoxFor(m => m.EntradaMaterial.LoginUsuarioLiberacao, new { @readonly = "", @class = "readonly" })
                                                    </label>
                                                </section>
                                                <section class="col col-3">
                                                    @Html.LabelFor(m => m.EntradaMaterial.DataLiberacao, new { @class = "label" })
                                                    <label class="input">
                                                        <i class="icon-append fa fa-calendar"></i>
                                                        @Html.TextBoxFor(m => m.EntradaMaterial.DataLiberacao, "{0:dd/MM/yyyy}", new { @readonly = "", @class = "readonly" })
                                                    </label>
                                                </section>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            @if (Model.PodeAdicionarItem) {
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseItensOrdemCompra" class="collapsed" id="btnItensOrdemCompra">
                                                <i class="fa fa-lg fa-angle-down pull-right"></i>
                                                <i class="fa fa-lg fa-angle-up pull-right"></i>
                                                Seleção de itens de ordem de compra
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseItensOrdemCompra" class="panel-collapse collapse">
                                        <div class="panel-body no-padding">
                                            <fieldset>
                                                <div class="row">
                                                    <section class="col col-12">
                                                        <button id="btnSelecionarItensOrdemCompra" type="button" class="btn btn-primary right">
                                                            Selecionar Item
                                                        </button>
                                                    </section>
                                                </div>
                                                <div class="table-responsive" style="min-height: 115px; border: 1px solid #ddd; margin-bottom: 13px; overflow-x: auto;">
                                                    <table id="tableItensOrdemCompra" class="table table-bordered table-striped table-condensed table-hover dataTable">
                                                        <thead>
                                                            <tr role="row">
                                                                <th><label class="checkbox"><input type="checkbox" id="chkSelecionarTodosItensOrdemCompra"><i></i>&nbsp;</label></th>
                                                                <th class="text-right">OC</th>
                                                                <th class="text-right">Item OC</th>
                                                                <th class="text-center">Data OC</th>
                                                                <th class="text-right">Material</th>
                                                                <th>Descrição</th>
                                                                <th>Complemento</th>
                                                                <th class="text-center">UN</th>
                                                                <th class="text-right" style="min-width: 70px;">Quantidade</th>
                                                                <th class="text-right" style="min-width: 70px;">Valor unitário</th>
                                                                <th>Classe</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </fieldset>
                                            <script type="text/javascript">
                                                $(document).ready(function () {
                                                    $('#btnItensOrdemCompra').on('click', function () {
                                                        $("#tableItensOrdemCompra tbody").empty();
                                                        if (!$('#collapseItensOrdemCompra').is(":visible")) {
                                                            if (houveAlteracao) {
                                                                smartAlert("Erro", "A Entrada de Material foi alterada.<br />Salve os dados antes de incluir novos itens.", "error");
                                                            }
                                                            else {
                                                                $.ajax({
                                                                    type: 'POST',
                                                                    url: '@Url.Action("ListarItensDeOrdemCompraLiberadaComSaldo", "EntradaMaterial")',
                                                                    cache: false,
                                                                    //async: false,
                                                                    contentType: 'application/json; charset=utf-8',
                                                                    data: JSON.stringify({
                                                                        entradaMaterialId: '@Html.DisplayFor(m => m.EntradaMaterial.Id)'
                                                                    })
                                                                })
                                                                .success(function (result) {
                                                                    if (result.errorMessage.length > 0)
                                                                        smartAlert("Erro", result.errorMessage, "error");
                                                                    else {
                                                                        fillTableItensOrdemCompra(JSON.parse(result.itens));
                                                                    }
                                                                });
                                                            }
                                                        }
                                                    });

                                                    $('#btnSelecionarItensOrdemCompra').on('click', function () {
                                                        adicionarItensSelecionados();
                                                    });

                                                    function adicionarItensSelecionados() {
                                                        var arrItemOC = [];
                                                        $('#tableItensOrdemCompra tbody input[type=checkbox]:checked').each(function () {
                                                            arrItemOC.push(parseInt($(this).val()));
                                                        });

                                                        if (arrItemOC.length > 0) {
                                                            $.SmartMessageBox({
                                                                title: "<i class='fa fa-question-circle txt-color-blue'></i> Confirma a inclusão dos itens selecionados na Entrada de Material?",
                                                                //content: "Esta ação não poderá ser revertida.",
                                                                buttons: '[Não][Sim]'
                                                            }, function (ButtonPressed) {
                                                                if (ButtonPressed === "Sim") {
                                                                    $.ajax({
                                                                        type: 'POST',
                                                                        url: '@Url.Action("AdicionarItens", "EntradaMaterial")',
                                                                        cache: false,
                                                                        async: false,
                                                                        contentType: 'application/json; charset=utf-8',
                                                                        data: JSON.stringify({
                                                                            entradaMaterialId: '@Model.EntradaMaterial.Id',
                                                                            itens: arrItemOC
                                                                        })
                                                                    })
                                                                    .success(function (result) {
                                                                        var houveErro = false;
                                                                        $(result.Messages).each(function () {
                                                                            if (this.Type.toString() == '@((int)GIR.Sigim.Infrastructure.Crosscutting.Notification.TypeMessage.Error)') {
                                                                                houveErro = true;
                                                                            }
                                                                        });

                                                                        if (!houveErro) {
                                                                            $('#@Html.IdFor(m => m.JsonItens)').val(result.Itens);
                                                                            fillTableItens();
                                                                            $('#btnItens').click();
                                                                            setTimeout(function () {
                                                                                $('html, body').animate({
                                                                                    scrollTop: $("#headerPanelItens").offset().top
                                                                                }, 500);
                                                                            }, 500);
                                                                        }

                                                                        $(result.Messages).each(function () {
                                                                            var typeMessage = '';
                                                                            var titleMessage = '';
                                                                            switch(this.Type.toString()) {
                                                                                case '@((int)GIR.Sigim.Infrastructure.Crosscutting.Notification.TypeMessage.Info)':
                                                                                    typeMessage = 'info';
                                                                                    titleMessage = 'Informação';
                                                                                    break;
                                                                                case '@((int)GIR.Sigim.Infrastructure.Crosscutting.Notification.TypeMessage.Success)':
                                                                                    typeMessage = 'success';
                                                                                    titleMessage = 'Sucesso';
                                                                                    break;
                                                                                case '@((int)GIR.Sigim.Infrastructure.Crosscutting.Notification.TypeMessage.Warning)':
                                                                                    typeMessage = 'warning';
                                                                                    titleMessage = 'Alerta';
                                                                                    break;
                                                                                case '@((int)GIR.Sigim.Infrastructure.Crosscutting.Notification.TypeMessage.Error)':
                                                                                default:
                                                                                    typeMessage = 'error';
                                                                                    titleMessage = 'Erro';
                                                                                    break;
                                                                            }
                                                                            smartAlert(titleMessage, this.Text, typeMessage);
                                                                        });

                                                                    });
                                                                }
                                                            });
                                                        }
                                                        else
                                                            smartAlert("Erro", "Selecione pelo menos 1 item.", "error");
                                                    }

                                                    $('#chkSelecionarTodosItensOrdemCompra').on('change', function () {
                                                        checkOrUncheckAllItensOrdemCompra($(this).prop('checked'));
                                                    });

                                                    $(document).on('change', '.chkItemOrdemCompra', function () {
                                                        $('#chkSelecionarTodosItensOrdemCompra').prop('checked', isAllItensOrdemCompraChecked());
                                                    });
                                                });

                                                function isAllItensOrdemCompraChecked() {
                                                    var isAllChecked = true;
                                                    $($('#tableItensOrdemCompra tbody input[type=checkbox]').get().reverse()).each(function () {
                                                        if (!$(this).prop('checked')) {
                                                            isAllChecked = false;
                                                            return false;
                                                        }
                                                    });
                                                    return isAllChecked;
                                                }

                                                function checkOrUncheckAllItensOrdemCompra(checked) {
                                                    $($('#tableItensOrdemCompra input[type=checkbox]').get().reverse()).each(function () {
                                                        if (!$(this).is(":disabled")) {
                                                            $(this).prop("checked", checked);
                                                        }
                                                    });
                                                }

                                                function fillTableItensOrdemCompra(jsonItensOrdemCompra) {
                                                    for (var i = 0; i < jsonItensOrdemCompra.length; i++) {
                                                        var row = $('<tr />')
                                                        $("#tableItensOrdemCompra tbody").append(row);
                                                        row.append($('<td><label class="checkbox"><input type="checkbox" class="chkItemOrdemCompra" name="checkbox" value="' + jsonItensOrdemCompra[i].Id + '"><i></i>&nbsp;</label></td>'));
                                                        row.append($('<td class="text-right">' + jsonItensOrdemCompra[i].OrdemCompraId + '</td>'));
                                                        row.append($('<td class="text-right">' + jsonItensOrdemCompra[i].Sequencial + '</td>'));
                                                        row.append($('<td class="text-center">' + new Date(jsonItensOrdemCompra[i].DataOrdemCompra).toFormatDDMMYYYY() + '</td>'));
                                                        row.append($('<td class="text-right">' + jsonItensOrdemCompra[i].MaterialId + '</td>'));
                                                        row.append($('<td class="text-nowrap">' + jsonItensOrdemCompra[i].Material.Descricao + '</td>'));
                                                        row.append($('<td class="text-nowrap">' + jsonItensOrdemCompra[i].Complemento + '</td>'));
                                                        row.append($('<td class="text-center">' + jsonItensOrdemCompra[i].Material.SiglaUnidadeMedida + '</td>'));
                                                        row.append($('<td class="text-right">' + roundDecimal(floatToString(jsonItensOrdemCompra[i].Saldo), 5) + '</td>'));
                                                        row.append($('<td class="text-right">' + roundDecimal(floatToString(jsonItensOrdemCompra[i].ValorUnitario), 5) + '</td>'));
                                                        row.append($('<td class="text-nowrap">' + jsonItensOrdemCompra[i].Classe.ClasseDescricao + '</td>'));
                                                    }
                                                }
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="panel panel-default">
                                <div id="headerPanelItens" class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseItens" class="collapsed" id="btnItens">
                                            <i class="fa fa-lg fa-angle-down pull-right"></i>
                                            <i class="fa fa-lg fa-angle-up pull-right"></i>
                                            Itens
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseItens" class="panel-collapse collapse">
                                    <div class="panel-body no-padding">
                                        <fieldset>
                                            <div class="row">
                                                <section class="col col-6" style="margin: 0;">
                                                    @Html.HiddenFor(m => m.Material.Id)
                                                    <section class="col col-10" style="padding-left: 0;">
                                                        @Html.LabelFor(m => m.Material.Descricao, "Material", new { @class = "label" })
                                                        <label class="input">
                                                            @Html.TextBoxFor(m => m.Material.Descricao, new { @readonly = "", @class = "readonly" })
                                                        </label>
                                                    </section>
                                                    <section class="col col-2" style="padding-right: 0;">
                                                        @Html.LabelFor(m => m.Material.SiglaUnidadeMedida, "UN", new { @class = "label" })
                                                        <label class="input">
                                                            @Html.TextBoxFor(m => m.Material.SiglaUnidadeMedida, new { @readonly = "", @class = "readonly" })
                                                        </label>
                                                    </section>
                                                    @Html.ValidationMessageFor(m => m.Material.Id, "", new { @id = Html.IdFor(m => m.Material.Id) + "_ValidationMessage", @class = "note note-error" })
                                                </section>
                                                <section class="col col-6">
                                                    @Html.LabelFor(m => m.Complemento, new { @class = "label" })
                                                    <label class="input">
                                                        @Html.TextBoxFor(m => m.Complemento, new { @readonly = "", @class = "readonly" })
                                                    </label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section class="col col-2">
                                                    @Html.LabelFor(m => m.Classe.Codigo, "Classe", new { @class = "label" })
                                                    <label class="input">
                                                        @Html.TextBoxFor(m => m.Classe.Codigo, new { @readonly = "", @class = "readonly" })
                                                    </label>
                                                    @Html.ValidationMessageFor(m => m.Classe.Codigo, "", new { @id = Html.IdFor(m => m.Classe.Codigo) + "_ValidationMessage", @class = "note note-error" })
                                                </section>
                                                <section class="col col-4">
                                                    <label class="label" for="@Html.IdFor(m => m.Classe.Descricao)">&nbsp;</label>
                                                    <label class="input">
                                                        @Html.TextBoxFor(m => m.Classe.Descricao, new { @readonly = "", @class = "readonly" })
                                                    </label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section class="col col-12" style="margin-top:15px;">
                                                    <ul id="itemTab" class="nav nav-tabs bordered">
											            <li class="active">
                                                            <a href="#itemTabContentDadosGerais" data-toggle="tab">Dados Gerais</a>
											            </li>
											            <li>
												            <a href="#itemTabContentImpostos" data-toggle="tab">Impostos</a>
											            </li>
                                                        <li>
												            <a href="#itemTabContentComplementos" data-toggle="tab">Complementos</a>
											            </li>
										            </ul>
                                                    <div id="itemTabContent" class="tab-content padding-10">
											            <div class="tab-pane fade active in" id="itemTabContentDadosGerais">
                                                            <div class="row">
                                                                <section class="col col-3">
                                                                    @Html.LabelFor(m => m.Quantidade, new { @class = "label" })
                                                                    <label class="input">
                                                                        @Html.TextBoxFor(m => m.Quantidade, new { @class = "required" })
                                                                        <i></i>
                                                                    </label>
                                                                    @Html.ValidationMessageFor(m => m.Quantidade, "", new { @class = "note note-error" })
                                                                </section>
                                                                <section class="col col-3">
                                                                    @Html.LabelFor(m => m.ValorUnitario, new { @class = "label" })
                                                                    <label class="input">
                                                                        @Html.TextBoxFor(m => m.ValorUnitario, new { @readonly = "", @class = "readonly" })
                                                                    </label>
                                                                    @Html.ValidationMessageFor(m => m.ValorUnitario, "", new { @class = "note note-error" })
                                                                </section>
                                                                <section class="col col-3">
                                                                    @Html.LabelFor(m => m.Desconto, new { @class = "label" })
                                                                    <label class="input">
                                                                        @Html.TextBoxFor(m => m.Desconto, new { @readonly = "", @class = "readonly" })
                                                                    </label>
                                                                    @Html.ValidationMessageFor(m => m.Desconto, "", new { @class = "note note-error" })
                                                                </section>
                                                                <section class="col col-3">
                                                                    @Html.LabelFor(m => m.ValorTotal, new { @class = "label" })
                                                                    <label class="input">
                                                                        @Html.TextBoxFor(m => m.ValorTotal, new { @readonly = "", @class = "readonly" })
                                                                    </label>
                                                                    @Html.ValidationMessageFor(m => m.ValorTotal, "", new { @class = "note note-error" })
                                                                </section>
                                                            </div>
											            </div>
											            <div class="tab-pane fade" id="itemTabContentImpostos">
												            <div class="row">
                                                                <section class="col col-4">
                                                                    @Html.LabelFor(m => m.BaseICMS, new { @class = "label" })
                                                                    <label class="input">
                                                                        @Html.TextBoxFor(m => m.BaseICMS)
                                                                        <i></i>
                                                                    </label>
                                                                    @Html.ValidationMessageFor(m => m.BaseICMS, "", new { @class = "note note-error" })
                                                                </section>
                                                                <section class="col col-4">
                                                                    @Html.LabelFor(m => m.PercentualICMS, new { @class = "label" })
                                                                    <label class="input">
                                                                        @Html.TextBoxFor(m => m.PercentualICMS)
                                                                        <i></i>
                                                                    </label>
                                                                    @Html.ValidationMessageFor(m => m.PercentualICMS, "", new { @class = "note note-error" })
                                                                </section>
                                                                <section class="col col-4">
                                                                    @Html.LabelFor(m => m.ValorICMS, new { @class = "label" })
                                                                    <label class="input">
                                                                        @Html.TextBoxFor(m => m.ValorICMS, new { @readonly = "", @class = "readonly" })
                                                                    </label>
                                                                    @Html.ValidationMessageFor(m => m.ValorICMS, "", new { @class = "note note-error" })
                                                                </section>
                                                            </div>
                                                            <div class="row">
                                                                <section class="col col-4">
                                                                    @Html.LabelFor(m => m.BaseIPI, new { @class = "label" })
                                                                    <label class="input">
                                                                        @Html.TextBoxFor(m => m.BaseIPI, new { @readonly = "", @class = "readonly" })
                                                                        <i></i>
                                                                    </label>
                                                                    @Html.ValidationMessageFor(m => m.BaseIPI, "", new { @class = "note note-error" })
                                                                </section>
                                                                <section class="col col-4">
                                                                    @Html.LabelFor(m => m.PercentualIPI, new { @class = "label" })
                                                                    <label class="input">
                                                                        @Html.TextBoxFor(m => m.PercentualIPI, new { @readonly = "", @class = "readonly" })
                                                                        <i></i>
                                                                    </label>
                                                                    @Html.ValidationMessageFor(m => m.PercentualIPI, "", new { @class = "note note-error" })
                                                                </section>
                                                                <section class="col col-4">
                                                                    @Html.LabelFor(m => m.ValorIPI, new { @class = "label" })
                                                                    <label class="input">
                                                                        @Html.TextBoxFor(m => m.ValorIPI, new { @readonly = "", @class = "readonly" })
                                                                    </label>
                                                                    @Html.ValidationMessageFor(m => m.ValorIPI, "", new { @class = "note note-error" })
                                                                </section>
                                                            </div>
                                                            <div class="row">
                                                                <section class="col col-4">
                                                                    @Html.LabelFor(m => m.BaseICMSST, new { @class = "label" })
                                                                    <label class="input">
                                                                        @Html.TextBoxFor(m => m.BaseICMSST)
                                                                        <i></i>
                                                                    </label>
                                                                    @Html.ValidationMessageFor(m => m.BaseICMSST, "", new { @class = "note note-error" })
                                                                </section>
                                                                <section class="col col-4">
                                                                    @Html.LabelFor(m => m.PercentualICMSST, new { @class = "label" })
                                                                    <label class="input">
                                                                        @Html.TextBoxFor(m => m.PercentualICMSST)
                                                                        <i></i>
                                                                    </label>
                                                                    @Html.ValidationMessageFor(m => m.PercentualICMSST, "", new { @class = "note note-error" })
                                                                </section>
                                                                <section class="col col-4">
                                                                    @Html.LabelFor(m => m.ValorICMSST, new { @class = "label" })
                                                                    <label class="input">
                                                                        @Html.TextBoxFor(m => m.ValorICMSST, new { @readonly = "", @class = "readonly" })
                                                                    </label>
                                                                    @Html.ValidationMessageFor(m => m.ValorICMSST, "", new { @class = "note note-error" })
                                                                </section>
                                                            </div>
											            </div>
                                                        <div class="tab-pane fade" id="itemTabContentComplementos">
                                                            <div class="row">
                                                                <section class="col col-4">
                                                                    @Html.LabelFor(m => m.ComplementoNaturezaOperacaoId, new { @class = "label" })
                                                                    <label class="select">
                                                                        @Html.DropDownListFor(m => m.ComplementoNaturezaOperacaoId, Model.ListaComplementoNaturezaOperacao, string.Empty)
                                                                        <i></i>
                                                                    </label>
                                                                    @Html.ValidationMessageFor(m => m.ComplementoNaturezaOperacaoId, "", new { @class = "note note-error" })
                                                                </section>
                                                                <section class="col col-4">
                                                                    @Html.LabelFor(m => m.ComplementoCSTId, new { @class = "label" })
                                                                    <label class="select">
                                                                        @Html.DropDownListFor(m => m.ComplementoCSTId, Model.ListaComplementoCST, string.Empty)
                                                                        <i></i>
                                                                    </label>
                                                                    @Html.ValidationMessageFor(m => m.ComplementoCSTId, "", new { @class = "note note-error" })
                                                                </section>
                                                                <section class="col col-4">
                                                                    @Html.LabelFor(m => m.NaturezaReceitaId, new { @class = "label" })
                                                                    <label class="select">
                                                                        @Html.DropDownListFor(m => m.NaturezaReceitaId, Model.ListaNaturezaReceita, string.Empty)
                                                                        <i></i>
                                                                    </label>
                                                                    @Html.ValidationMessageFor(m => m.NaturezaReceitaId, "", new { @class = "note note-error" })
                                                                </section>
                                                            </div>
                                                        </div>
										            </div>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section class="col col-6">
                                                    @{
                                                        string disableBtnAddItem = string.Empty;
                                                        if (!Model.PodeAdicionarItem)
                                                        {
                                                            disableBtnAddItem = "disabled";
                                                        }
                                                    }
                                                    <button id="btnAddItem" type="button" class="btn btn-primary @disableBtnAddItem">
                                                        Adicionar Item
                                                    </button>

                                                    @{
                                                        string disableBtnCancelarItem = string.Empty;
                                                        if (!Model.PodeCancelarItem)
                                                        {
                                                            disableBtnCancelarItem = "disabled";
                                                        }
                                                    }
                                                    <button id="btnCancelarItem" type="button" class="btn btn-danger @disableBtnCancelarItem">
                                                        Cancelar Item
                                                    </button>
                                                </section>
                                            </div>
                                            @Html.HiddenFor(m => m.JsonItens)
                                            <div class="table-responsive" style="min-height: 115px; border: 1px solid #ddd; margin-bottom: 13px; width:100%; overflow-x: auto;">
                                                <table id="tableItens" class="table table-bordered table-striped table-condensed table-hover dataTable">
                                                    <thead>
                                                        <tr role="row">
                                                            <th class="text-center" style="min-width: 65px;">Item EM</th>
                                                            <th>OC</th>
                                                            <th>Item OC</th>
                                                            <th class="text-right">Material</th>
                                                            <th>Descrição</th>
                                                            <th>Complemento</th>
                                                            <th class="text-center">UN</th>
                                                            <th class="text-right">Quantidade</th>
                                                            <th class="text-right">Valor unitário</th>
                                                            <th>IPI %</th>
                                                            <th>Desconto %</th>
                                                            <th>Valor total</th>
                                                            <th>Classe de despesa</th>
                                                            <th>ICMS %</th>
                                                            <th>ICMSST %</th>
                                                            <th>Compl. natureza operação</th>
                                                            <th>Complemento CST</th>
                                                            <th>Natureza da receita</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </fieldset>
                                        <script type="text/javascript">
                                            $(document).ready(function () {
                                                fillTableItens();
                                            });
                                            function fillTableItens() {
                                                var jsonItens = JSON.parse($("#@Html.IdFor(m => m.JsonItens)").val());
                                                for (var i = 0; i < jsonItens.length; i++) {
                                                    var row = $('<tr />')
                                                    $("#tableItens tbody").append(row);
                                                    row.append($('<td><label class="checkbox"><input type="checkbox" class="chkItemOrdemCompra" name="checkbox" value="' + jsonItens[i].Id + '"><i></i>' + jsonItens[i].Sequencial + '</label></td>'));
                                                    row.append($('<td class="text-right">' + jsonItens[i].OrdemCompraItem.OrdemCompraId + '</td>'));
                                                    row.append($('<td class="text-right">' + jsonItens[i].OrdemCompraItem.Id + '</td>'));
                                                    row.append($('<td class="text-right">' + jsonItens[i].OrdemCompraItem.Material.Id + '</td>'));
                                                    row.append($('<td class="text-nowrap">' + jsonItens[i].OrdemCompraItem.Material.Descricao + '</td>'));
                                                    row.append($('<td class="text-nowrap">' + jsonItens[i].OrdemCompraItem.Complemento + '</td>'));
                                                    row.append($('<td class="text-center">' + jsonItens[i].OrdemCompraItem.Material.SiglaUnidadeMedida + '</td>'));
                                                    row.append($('<td class="text-right">' + roundDecimal(floatToString(jsonItens[i].Quantidade), 4) + '</td>'));
                                                    row.append($('<td class="text-right">' + roundDecimal(floatToString(jsonItens[i].ValorUnitario), 4) + '</td>'));
                                                    row.append($('<td class="text-right">' + roundDecimal(floatToString(jsonItens[i].PercentualIPI), 4) + '</td>'));
                                                    row.append($('<td class="text-right">' + roundDecimal(floatToString(jsonItens[i].PercentualDesconto), 4) + '</td>'));
                                                    row.append($('<td class="text-right">' + roundDecimal(floatToString(jsonItens[i].ValorTotal), 4) + '</td>'));
                                                    row.append($('<td class="text-nowrap">' + jsonItens[i].Classe.ClasseDescricao + '</td>'));
                                                    row.append($('<td class="text-right">' + roundDecimal(floatToString(jsonItens[i].PercentualICMS), 4) + '</td>'));
                                                    row.append($('<td class="text-right">' + roundDecimal(floatToString(jsonItens[i].PercentualICMSST), 4) + '</td>'));
                                                    row.append($('<td class="text-right">' + jsonItens[i].CodigoComplementoNaturezaOperacao + '</td>'));
                                                    row.append($('<td class="text-right">' + jsonItens[i].CodigoComplementoCST + '</td>'));
                                                    row.append($('<td class="text-right">' + jsonItens[i].CodigoNaturezaReceita + '</td>'));
                                                }
                                            }
                                        </script>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFormasPagamentoOrdemCompra" class="collapsed">
                                            <i class="fa fa-lg fa-angle-down pull-right"></i>
                                            <i class="fa fa-lg fa-angle-up pull-right"></i>
                                            Seleção de formas de pagamento da ordem de compra
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFormasPagamentoOrdemCompra" class="panel-collapse collapse">
                                    <div class="panel-body no-padding">
                                        <fieldset>
                                            <div class="row">
                                                <section class="col col-3">
                                                    @Html.LabelFor(m => m.OrdemCompraId, new { @class = "label" })
                                                    <label class="input">
                                                        @Html.TextBoxFor(m => m.OrdemCompraId, new { @readonly = "", @class = "readonly" })
                                                    </label>
                                                </section>
                                                <section class="col col-3">
                                                    @Html.LabelFor(m => m.DataVencimento, new { @class = "label" })
                                                    <label class="input">
                                                        <i class="icon-append fa fa-calendar"></i>
                                                        @Html.TextBoxFor(m => m.DataVencimento, "{0:dd/MM/yyyy}", new { @readonly = "", @class = "readonly" })
                                                    </label>
                                                    @Html.ValidationMessageFor(m => m.DataVencimento, "Informe uma data válida.", new { @class = "note note-error" })
                                                </section>
                                                <section class="col col-3">
                                                    @Html.LabelFor(m => m.QuantidadeDiasAposEmissao, new { @class = "label" })
                                                    <label class="input">
                                                        @Html.TextBoxFor(m => m.QuantidadeDiasAposEmissao)
                                                    </label>
                                                </section>
                                                <section class="col col-3">
                                                    @Html.LabelFor(m => m.DataVencimentoLiberado, new { @class = "label" })
                                                    <label class="input">
                                                        <i class="icon-append fa fa-calendar"></i>
                                                        @Html.TextBoxFor(m => m.DataVencimentoLiberado, "{0:dd/MM/yyyy}", new { @class = "required" })
                                                    </label>
                                                    @Html.ValidationMessageFor(m => m.DataVencimentoLiberado, "Informe uma data válida.", new { @class = "note note-error" })
                                                </section>
                                                <script type="text/javascript">
                                                    $(document).ready(function () {
                                                        $('#@Html.IdFor(m => m.DataVencimentoLiberado)').datepicker({
                                                            prevText: '<i class="fa fa-chevron-left"></i>',
                                                            nextText: '<i class="fa fa-chevron-right"></i>',
                                                            changeMonth: true,
                                                            changeYear: true,
                                                            onClose: function (selectedDate) {
                                                                $(this).valid();
                                                            }
                                                        });
                                                    });
                                                </script>
                                                
                                            </div>
                                            <div class="row">
                                                <section class="col col-3">
                                                    @Html.LabelFor(m => m.ValorParcela, new { @class = "label" })
                                                    <label class="input">
                                                        @Html.TextBoxFor(m => m.ValorParcela, new { @readonly = "", @class = "readonly" })
                                                    </label>
                                                </section>
                                                <section class="col col-3">
                                                    @Html.LabelFor(m => m.ValorParcelaLiberado, new { @class = "label" })
                                                    <label class="input">
                                                        @Html.TextBoxFor(m => m.ValorParcelaLiberado, new { @readonly = "", @class = "readonly" })
                                                    </label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section class="col col-12">
                                                    <button id="btnAddFormaPagamento" type="button" class="btn btn-primary right">
                                                        Adicionar
                                                    </button>
                                                </section>
                                            </div>
                                            <div class="table-responsive" style="min-height: 115px; border: 1px solid #ddd; margin-bottom: 13px; overflow-x: auto;">
                                                <table id="tableOrdemCompraFormaPagamento" class="table table-bordered table-striped table-condensed table-hover dataTable">
                                                    <thead>
                                                        <tr role="row">
                                                            <th class="text-right">OC</th>
                                                            <th>Data vencimento</th>
                                                            <th>Valor parcela</th>
                                                            <th class="text-center">Compromisso</th>
                                                            <th class="text-right">Título pagar</th>
                                                            <th class="text-right">Data vencimento lib.</th>
                                                            <th>Valor liberado</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="row">
                                                <section class="col col-3">
                                                    @Html.LabelFor(m => m.ValorTotalEM, new { @class = "label" })
                                                    <label class="input">
                                                        @Html.TextBoxFor(m => m.ValorTotalEM, new { @readonly = "", @class = "readonly" })
                                                    </label>
                                                </section>
                                                <section class="col col-3">
                                                    @Html.LabelFor(m => m.ValorTotalDistribuido, new { @class = "label" })
                                                    <label class="input">
                                                        @Html.TextBoxFor(m => m.ValorTotalDistribuido, new { @readonly = "", @class = "readonly" })
                                                    </label>
                                                </section>
                                                <section class="col col-3">
                                                    @Html.LabelFor(m => m.ValorTotalPendente, new { @class = "label" })
                                                    <label class="input">
                                                        @Html.TextBoxFor(m => m.ValorTotalPendente, new { @readonly = "", @class = "readonly" })
                                                    </label>
                                                </section>
                                                <section class="col col-3">
                                                    @Html.LabelFor(m => m.ValorTotalLiberado, new { @class = "label" })
                                                    <label class="input">
                                                        @Html.TextBoxFor(m => m.ValorTotalLiberado, new { @readonly = "", @class = "readonly" })
                                                    </label>
                                                </section>
                                            </div>
                                            <div class="table-responsive" style="min-height: 85px; border: 1px solid #ddd; margin-bottom: 13px; overflow-x: auto;">
                                                <table id="tableOrdemCompraValor" class="table table-bordered table-striped table-condensed table-hover dataTable">
                                                    <thead>
                                                        <tr role="row">
                                                            <th class="text-right">OC</th>
                                                            <th>Valor da OC</th>
                                                            <th>Valor distribuído</th>
                                                            <th>Valor pendente</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFormasPagamento" class="collapsed">
                                            <i class="fa fa-lg fa-angle-down pull-right"></i>
                                            <i class="fa fa-lg fa-angle-up pull-right"></i>
                                            Formas de pagamento
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFormasPagamento" class="panel-collapse collapse">
                                    <div class="panel-body no-padding">
                                        <fieldset>

                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFrete" class="collapsed">
                                            <i class="fa fa-lg fa-angle-down pull-right"></i>
                                            <i class="fa fa-lg fa-angle-up pull-right"></i>
                                            Frete
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFrete" class="panel-collapse collapse">
                                    <div class="panel-body no-padding">
                                        <fieldset>

                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseImpostos" class="collapsed">
                                            <i class="fa fa-lg fa-angle-down pull-right"></i>
                                            <i class="fa fa-lg fa-angle-up pull-right"></i>
                                            Impostos
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseImpostos" class="panel-collapse collapse">
                                    <div class="panel-body no-padding">
                                        <fieldset>

                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer>
                            @Html.ActionLink("Voltar", "Index", null, null, new { @class = "btn btn-primary" })
                            @{
                                string disableBtnCancelar = string.Empty;
                                if (!Model.PodeCancelarEntrada)
                                {
                                    disableBtnCancelar = "disabled";
                                }
                            }
                            <a id="btnCancelarEntrada" href="#" class="btn btn-danger @disableBtnCancelar">Cancelar</a>
                            @if (Model.PodeCancelarEntrada)
                            {
                                <div class="modal fade" id="MotivoCancelamento_ModalPanel" tabindex="-1" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    &times;
                                                </button>
                                                <h4 class="modal-title">
                                                    Motivo do Cancelamento
                                                </h4>
                                            </div>
                                            <div class="modal-body">
                                                @if (Model.ExisteEstoqueParaCentroCusto && !Model.ExisteMovimentoNoEstoque)
                                                {
                                                    <article class="col-sm-12">
                                                        <div class="alert alert-info alert-block fade in">
                                                            <h4 class="alert-heading">Informação</h4>
                                                            O cancelamento não irá abater a quantidade do insumo no estoque.
                                                            Porque, quando da entrada desse insumo, o sistema não o incluiu no estoque.<br />
                                                            Em caso de dúvida, favor anotar o número da Entrada de Material e reportar a GIR.
                                                        </div>
                                                    </article>
                                                }
                                                <label class="textarea">
                                                    @Html.TextAreaFor(m => m.EntradaMaterial.MotivoCancelamento, new { @rows = "3" })
                                                </label>
                                            </div>
                                            <div class="modal-footer">
								                <button type="button" id="btnConfirmaCancelamentoEntrada" class="btn btn-primary">
									                Ok
								                </button>
							                </div>
                                        </div>
                                    </div>
                                    <script type="text/javascript">
                                        $("#btnCancelarEntrada").on("click", function (e) {
                                            e.preventDefault();
                                            $.ajax({
                                                type: 'POST',
                                                url: '@Url.Action("HaPossibilidadeCancelamentoEntradaMaterial", "EntradaMaterial")',
                                                cache: false,
                                                //async: false,
                                                contentType: 'application/json; charset=utf-8',
                                                data: JSON.stringify({
                                                    entradaMaterialId: '@Html.DisplayFor(m => m.EntradaMaterial.Id)'
                                                })
                                            })
                                            .success(function (result) {
                                                if (result.HaPossibilidadeCancelamentoEntradaMaterial)
                                                    $('#MotivoCancelamento_ModalPanel').modal('show');
                                                else {
                                                    var errorMessages = result.ErrorMessages;
                                                    if (errorMessages.length !== 0) {
                                                        for (var i = 0; i < errorMessages.length; i++)
                                                            smartAlert("Erro", errorMessages[i].Text, "error");
                                                    }
                                                }
                                            });
                                        });

                                        $("#btnConfirmaCancelamentoEntrada").on("click", function () {
                                            var motivo = $("#@Html.IdFor(m => m.EntradaMaterial.MotivoCancelamento)").val();
                                            if (motivo.length != 0) {
                                                $.ajax({
                                                    type: 'POST',
                                                    url: '@Url.Action("Cancelar", "EntradaMaterial")',
                                                    cache: false,
                                                    //async: false,
                                                    contentType: 'application/json; charset=utf-8',
                                                    data: JSON.stringify({
                                                        id: '@Html.DisplayFor(m => m.EntradaMaterial.Id)',
                                                        motivo: motivo
                                                    })
                                                })
                                                .success(function (result) {
                                                    $('#notificationMessages').html(result);
                                                });
                                            }
                                            else
                                                smartAlert("Erro", "@GIR.Sigim.Application.Resource.OrdemCompra.ErrorMessages.InformeMotivoCancelamentoEntradaMaterial", "error");
                                        });
                                    </script>
                                </div>
                            }

                            @{
                            var url = Url.Action("Imprimir", "EntradaMaterial") + "/" + @Html.DisplayFor(m => m.EntradaMaterial.Id);
                            }
                            @Html.EditorFor(m => m.PodeImprimir, "Imprimir", new { @url = url })
                            
                            @{
                            string disableBtnSalvar = string.Empty;
                            if (!Model.PodeSalvar)
                            {
                                disableBtnSalvar = "disabled";
                            }
                            }
                            <button id="btnSalvar" type="submit" class="btn btn-primary right @disableBtnSalvar">
                                Salvar
                            </button>
                        </footer>
                    }
                </div>
            </div>
        </div>
    </article>
</div>
<script type="text/javascript">
    var houveAlteracao = false;
    $(document).ready(function () {
        $('#btnLiberarTitulos').on("click", function () {
            $.SmartMessageBox({
                title: "<i class='fa fa-question-circle txt-color-blue'></i> Confirma a liberação dos títulos para o Financeiro?",
                content: "Esta ação não poderá ser revertida.",
                buttons: '[Não][Sim]'
            }, function (ButtonPressed) {
                if (ButtonPressed === "Sim") {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("LiberarTitulos", "EntradaMaterial")',
                        cache: false,
                        async: false,
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify({
                            id: '@Model.EntradaMaterial.Id'
                        })
                    })
                    .success(function (result) {
                        $('#notificationMessages').html(result);
                    })
                }
            });
        });
    });
</script>