@{
    ViewBag.Title = "Painel";
}
<h3>Painel</h3>
<ul>
    <li>
        @Html.ActionLink("Ordem de Compra", "Index", "Home", new { area = "OrdemCompra" }, htmlAttributes: new { @class = "username", title = "Ordem de Compra" })
    </li>
    <li>
        @Html.ActionLink("Financeiro", "Index", "Home", new { area = "Financeiro" }, htmlAttributes: new { @class = "username", title = "Financeiro" })
    </li>
    <li>
        @Html.ActionLink("Sac", "Index", "Home", new { area = "Sac" }, htmlAttributes: new { @class = "username", title = "Sac" })
    </li>
    <li>
        @Html.ActionLink("Contrato", "Index", "Home", new { area = "Contrato" }, htmlAttributes: new { @class = "username", title = "Contrato" })
    </li>
     <li>
        @Html.ActionLink("Sigim", "Index", "Home", new { area = "Sigim" }, htmlAttributes: new { @class = "username", title = "Sigim" })
    </li>
</ul>