@using GIR.Sigim.Application.DTO.OrdemCompra
@model GIR.Sigim.Presentation.WebUI.ViewModel.ListaViewModel

@{
    IEnumerable<RelOCItensOrdemCompraDTO> Lista = Model.Records as IEnumerable<RelOCItensOrdemCompraDTO>;
}

<div class="table-container">
    @if (Lista != null && Lista.Any())
    {
        <div class="dt-toolbar table-header hidden-xs">
            <div class="col-sm-12 col-xs-12">
                <div class="dataTables_length" id="dt_basic_length" style="float: right!important;">
                    <label>
                        @Html.DropDownListFor(
                            m => m.PageSize,
                            Model.PageSizeList,
                            new {
                                @id = "pageSizeSelector",
                                @aria_controls="dt_basic",
                                @class="form-control",
                                onchange="changePageSize();"
                            })
                    </label>
                </div>
            </div>
        </div>
        <div class="table-responsive" style="min-height: 115px; border: 1px solid #ddd; margin-bottom: 13px; overflow-x: auto;">
            <table id="tableSearchResult" class="table table-bordered table-striped table-condensed table-hover dataTable">
                <thead>
                    <tr role="row">
                        @{
                            string sortingSuffix = Model.Ascending ? "_asc" : "_desc";
                            string ordemCompraIdSortingSuffix = "sorting";
                            string dataOrdemCompraSortingSuffix = "sorting";
                            string descricaoSituacaoSortingSuffix = "sorting";
                            string prazoEntregaSortingSuffix = "sorting";
                            string nomeFornecedorSortingSuffix = "sorting";
                            string materialIdSortingSuffix = "sorting";
                            string descricaoMaterialSortingSuffix = "sorting";
                            string complementoDescricaoSortingSuffix = "sorting";
                            string unidadeMedidaSortingSuffix = "sorting";
                            string codigoClasseSortingSuffix = "sorting";
                            string quantidadeSortingSuffix = "sorting";
                            string valorUnitarioSortingSuffix = "sorting";
                            string percentualIPISortingSuffix = "sorting";
                            string valorTotalComImpostoSortingSuffix = "sorting";
                            string quantidadeEntregueSortingSuffix = "sorting";
                            string saldoSortingSuffix = "sorting";
                            
                            switch (Model.OrderBy)
                            {
                                    
                                case "ordemCompraId":
                                    ordemCompraIdSortingSuffix += sortingSuffix;
                                    break;
                                case "dataOrdemCompra":
                                    dataOrdemCompraSortingSuffix += sortingSuffix;
                                    break;
                                case "descricaoSituacao":
                                    descricaoSituacaoSortingSuffix += sortingSuffix;
                                    break;
                                case "prazoEntrega":
                                    prazoEntregaSortingSuffix += sortingSuffix;
                                    break;
                                case "nomeFornecedor":
                                    nomeFornecedorSortingSuffix += sortingSuffix;
                                    break;
                                case "materialId":
                                    materialIdSortingSuffix += sortingSuffix;
                                    break;
                                case "descricaoMaterial":
                                    descricaoMaterialSortingSuffix += sortingSuffix;
                                    break;
                                case "complementoDescricao":
                                    complementoDescricaoSortingSuffix += sortingSuffix;
                                    break;
                                case "unidadeMedida":
                                    unidadeMedidaSortingSuffix += sortingSuffix;
                                    break;
                                case "codigoClasse":
                                    codigoClasseSortingSuffix += sortingSuffix;
                                    break;
                                case "quantidade":
                                    quantidadeSortingSuffix += sortingSuffix;
                                    break;
                                case "valorUnitario":
                                    valorUnitarioSortingSuffix += sortingSuffix;
                                    break;
                                case "percentualIPI":
                                    percentualIPISortingSuffix += sortingSuffix;
                                    break;
                                case "valorTotalComImposto":
                                    valorTotalComImpostoSortingSuffix += sortingSuffix;
                                    break;
                                case "quantidadeEntregue":
                                    quantidadeEntregueSortingSuffix += sortingSuffix;
                                    break;
                                case "saldo":
                                    saldoSortingSuffix += sortingSuffix;
                                    break;                                   
                                default:
                                    break;
                            }
                        }

                            string saldoSortingSuffix = "sorting";

                        <th class="sorting @ordemCompraIdSortingSuffix text-center" data-order="ordemCompraId" style="min-width:80px;">Ordem compra</th>
                        <th class="sorting @dataOrdemCompraSortingSuffix text-center" data-order="dataOrdemCompra" style="min-width:90px;">Data</th>
                        <th class="sorting @descricaoSituacaoSortingSuffix text-left" data-order="descricaoSituacao" style="min-width:140px;">Situação</th>
                        <th class="sorting @prazoEntregaSortingSuffix text-right" data-order="prazoEntrega" style="min-width:90px;">Prazo de entrega</th>
                        <th class="sorting @nomeFornecedorSortingSuffix text-left" data-order="nomeFornecedor" style="min-width:90px;">Fornecedor</th>
                        <th class="sorting @materialIdSortingSuffix text-right" data-order="materialId">Código</th>
                        <th class="sorting @descricaoMaterialSortingSuffix text-left" data-order="descricaoMaterial">Ítem</th>
                        <th class="sorting @complementoDescricaoSortingSuffix text-left" data-order="complementoDescricao">Complemento</th>
                        <th class="sorting @unidadeMedidaSortingSuffix text-center" data-order="unidadeMedida">Unidade</th>
                        <th class="sorting @codigoClasseSortingSuffix text-left" data-order="codigoClasse" style="min-width:70px;">Classe de despesa</th>
                        <th class="sorting @quantidadeSortingSuffix text-right" data-order="quantidade">Quantidade</th>
                        <th class="sorting @valorUnitarioSortingSuffix text-right" data-order="valorUnitario" style="min-width:80px;">Valor unitário</th>
                        <th class="sorting @percentualIPISortingSuffix text-right" data-order="percentualIPI" style="min-width:60px;">Valor unitário IPI</th>
                        <th class="sorting @valorTotalComImpostoSortingSuffix text-right" data-order="valorTotalComImposto">Valor total c/imposto</th>
                        <th class="sorting @quantidadeEntregueSortingSuffix text-right" data-order="quantidadeEntregue">Qtd. entregue</th>
                        <th class="sorting @saldoSortingSuffix text-right" data-order="saldo">Saldo</th>
                    </tr>
                </thead>
                <tbody>
@*                    @foreach (var item in Lista)
                    {
                        <tr>
                            <td class="text-right text-nowrap">@item.NumeroDocumento</td>
                            <td class="text-center text-nowrap">@item.DataEmissao.ToShortDateString()</td>
                            <td class="text-left text-nowrap">@item.FornecedorCliente.Nome</td>
                            @{
                                if (item.FornecedorCliente.TipoPessoa == "J")
                                {
                                    if (item.FornecedorCliente.PessoaJuridica != null)
                                    {
                                        <td class="text-left text-nowrap">@item.FornecedorCliente.PessoaJuridica.Cnpj</td>
                                    }
                                    else{
                                        <td class="text-left text-nowrap"></td>
                                    }
                                }
                                if (item.FornecedorCliente.TipoPessoa == "F")
                                {
                                    if (item.FornecedorCliente.PessoaFisica != null)
                                    {
                                        <td class="text-left text-nowrap">@item.FornecedorCliente.PessoaFisica.Cpf</td>
                                    }
                                    else{
                                        <td class="text-left text-nowrap"></td>
                                    }
                                }
                            }

                            <td class="text-center text-nowrap">@item.DataVencimento.ToShortDateString()</td>
                            <td class="text-right text-nowrap">@item.Valor.ToString("N2")</td>
                            <td class="text-right text-nowrap">@item.ValorClasse.ToString("N2")</td>
                            <td class="text-left text-nowrap">@item.ContratoRetificacaoItem.Servico.Descricao</td>
                            <td class="text-left text-nowrap">@item.ContratoRetificacaoItem.Classe.ClasseDescricao</td>
                            <td class="text-left text-nowrap">@item.ContratoId</td>
                            <td class="text-left text-nowrap">@item.Contrato.ContratoDescricao.Descricao</td>
                            <td class="text-left text-nowrap">@item.UsuarioLiberacao</td>
                            <td class="text-left text-nowrap">@item.TituloId</td>
                            <td class="text-left text-nowrap">@item.Contrato.CentroCusto.CentroCustoDescricao</td>
                        </tr>
                    }*@
                </tbody>
            </table>
        </div>
        @Html.Partial("_PaginationPartial", Model.Pagination)
    }
</div>