@using GIR.Sigim.Application.Constantes
<ul style="">
    <li>
        <a href="@Url.Content("~/Financeiro/Home")" title="Painel"><i class="fa fa-lg fa-fw fa-home"></i><span class="menu-item-parent">Home</span></a>
    </li>

    @if (User.IsInRole(Funcionalidade.ParametroFinanceiroAcessar) || User.IsInRole(Funcionalidade.ParametroUsuarioFinanceiroAcessar))
    {
        <li>
            <a href="#"><i class="fa fa-lg fa-fw fa-cog"></i><span class="menu-item-parent">Sistema</span></a>
            <ul>
                @if (User.IsInRole(Funcionalidade.ParametroFinanceiroAcessar)){<li>@Html.ActionLink("Parâmetros", "Index", "ParametrosFinanceiro")</li>}
                @if (User.IsInRole(Funcionalidade.ParametroUsuarioFinanceiroAcessar)){<li>@Html.ActionLink("Parâmetros - usuário", "Index", "ParametrosUsuarioFinanceiro")</li>}
            </ul>
        </li>
    }
    <li>
        <a href="#"><i class="fa fa-lg fa-fw fa-cog"></i><span class="menu-item-parent">Cadastro</span></a>
        <ul>
            @if (User.IsInRole(Funcionalidade.CaixaAcessar)){<li>@Html.ActionLink("Caixa", "", "Caixa")</li>}
            @if (User.IsInRole(Funcionalidade.ImpostoFinanceiroAcessar)){<li>@Html.ActionLink("Imposto financeiro", "", "ImpostoFinanceiro")</li>}
            @if (User.IsInRole(Funcionalidade.FormaRecebimentoAcessar)) {<li>@Html.ActionLink("Forma de recebimento", "", "FormaRecebimento")</li>}
            @if (User.IsInRole(Funcionalidade.MotivoCancelamentoAcessar)){<li>@Html.ActionLink("Motivo de cancelamento", "", "MotivoCancelamento")</li>}
            @if (User.IsInRole(Funcionalidade.RateioAutomaticoAcessar)){<li>@Html.ActionLink("Rateio automático", "", "RateioAutomatico")</li>}
            @if (User.IsInRole(Funcionalidade.TabelaBasicaFinanceiroAcessar)){<li>@Html.ActionLink("Tabelas básicas", "", "TabelaBasica")</li>}
            @if (User.IsInRole(Funcionalidade.TaxaAdministracaoAcessar)){<li>@Html.ActionLink("Taxa de administração", "", "TaxaAdministracao")</li>}
            @if (User.IsInRole(Funcionalidade.TipoCompromissoAcessar)){<li>@Html.ActionLink("Tipo de compromisso", "", "TipoCompromisso")</li>}
            @if (User.IsInRole(Funcionalidade.TipoDocumentoAcessar)){<li>@Html.ActionLink("Tipo de documento", "", "TipoDocumento")</li>}
            @if (User.IsInRole(Funcionalidade.TipoRateioAcessar)){<li>@Html.ActionLink("Tipo rateio", "", "TipoRateio")</li>}

            @if (User.IsInRole(Funcionalidade.BancoAcessar) || User.IsInRole(Funcionalidade.AgenciaAcessar) || User.IsInRole(Funcionalidade.ContaCorrenteAcessar))
            {
                <li>
                    <a href="#">Bancário</a>
                    <ul>
                        @if (User.IsInRole(Funcionalidade.BancoAcessar)){<li>@Html.ActionLink("Banco", "", "Banco")</li>}
                        @if (User.IsInRole(Funcionalidade.AgenciaAcessar)){<li>@Html.ActionLink("Agência", "Index", "Agencia")</li>}
                        @if (User.IsInRole(Funcionalidade.ContaCorrenteAcessar)){<li>@Html.ActionLink("Conta corrente", "Index", "ContaCorrente")</li>}
                    </ul>
                </li>           
            }
        </ul>
    </li>
</ul>
