<ul style="">
    <li>
        <a href="@Url.Content("~/Financeiro/Home")" title="Painel"><i class="fa fa-lg fa-fw fa-home"></i><span class="menu-item-parent">Home</span></a>
    </li>
    <li>
        <a href="#"><i class="fa fa-lg fa-fw fa-cog"></i><span class="menu-item-parent">Sistema</span></a>
        <ul>
            <li>
                @Html.ActionLink("Parâmetros", "Index", "ParametrosFinanceiro")
            </li>
            <li>
                @Html.ActionLink("Parâmetros - usuário", "Index", "ParametrosUsuarioFinanceiro")
            </li>
        </ul>
    </li>
    <li>
        <a href="#"><i class="fa fa-lg fa-fw fa-cog"></i><span class="menu-item-parent">Cadastro</span></a>
        <ul>
            <li>
                @Html.ActionLink("Motivo de cancelamento", "", "MotivoCancelamento")
            </li>
            <li>
                @Html.ActionLink("Tipo de Compromisso", "", "TipoCompromisso")
            </li>
            <li>
                @Html.ActionLink("Tipo de Documento", "", "TipoDocumento")
            </li>
            <li>
                @Html.ActionLink("Tipo rateio", "", "TipoRateio")
            </li>
        </ul>
    </li>
</ul>