@model GIR.Sigim.Application.DTO.Sigim.TreeNodeDTO

<li style="@ViewBag.style">
    @{
        var cssClass = "icon-leaf";
        if (Model.ListaFilhos.Any())
        {
            cssClass = "fa fa-lg fa-plus-circle";
        }
    }
    <span data-codigo-centro-custo="@Model.Codigo"><i class="@cssClass"></i> @Model.Codigo - @Model.Descricao</span>

    @if (Model.ListaFilhos.Any())
    {
        <ul>
            @foreach (var item in Model.ListaFilhos)
            {
                @Html.Partial("TreeNode", item, new ViewDataDictionary { { "style", "display: none" } })
            }
        </ul>
    }
</li>