@model GIR.Sigim.Presentation.WebUI.Areas.Financeiro.ViewModel.RelApropriacaoPorClasseListaViewModel
@{
    ViewBag.Title = "Apropriação por classe";
}

@Html.Partial("_NotificationMessagesPartial")
<div class="row">
    <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable centerBox">
        <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
            <header>
                <span class="widget-icon"><i class="fa fa-cog"></i></span>
                <h2>@ViewBag.Title</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    @using (Ajax.BeginForm(
                        "Lista",
                        "RelNotaFiscalLiberada",
                        null,
                        new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnSuccess = "refresh", UpdateTargetId = "resultadoBusca" },
                        new { @id = "formFilter" + Model.Filtro.PaginationParameters.UniqueIdentifier, @class = "smart-form client-form", @novalidate = "novalidate" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Filtro.PaginationParameters.PageIndex)
                        @Html.HiddenFor(m => m.Filtro.PaginationParameters.PageSize)
                        @Html.HiddenFor(m => m.Filtro.PaginationParameters.OrderBy)
                        @Html.HiddenFor(m => m.Filtro.PaginationParameters.Ascending)
                        @Html.HiddenFor(m => m.Filtro.PaginationParameters.UniqueIdentifier)
                        <div class="panel-group smart-accordion-default" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFiltro" class="">
                                            <i class="fa fa-lg fa-angle-down pull-right"></i>
                                            <i class="fa fa-lg fa-angle-up pull-right"></i>
                                            Filtro
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFiltro" class="panel-collapse collapse in">
                                    <div class="panel-body no-padding">
                                        <fieldset>
                                            <div class="row">
                                                <section class="col col-3">
                                                    @Html.LabelFor(m => m.Filtro.DataInicial, new { @class = "label" })
                                                    <label class="input">
                                                        <i class="icon-append fa fa-calendar"></i>
                                                        @Html.TextBoxFor(m => m.Filtro.DataInicial, "{0:dd/MM/yyyy}")
                                                        <script type="text/javascript">
                                                            $(document).ready(function () {
                                                                $("#@Html.IdFor(m => m.Filtro.DataInicial)").on("change", function () {
                                                                    limpaLista();
                                                                });
                                                            });
                                                        </script>
                                                    </label>
                                                    @Html.ValidationMessageFor(m => m.Filtro.DataInicial, "Informe uma data válida.", new { @class = "note note-error" })
                                                </section>
                                                <section class="col col-3">
                                                    @Html.LabelFor(m => m.Filtro.DataFinal, new { @class = "label" })
                                                    <label class="input">
                                                        <i class="icon-append fa fa-calendar"></i>
                                                        @Html.TextBoxFor(m => m.Filtro.DataFinal, "{0:dd/MM/yyyy}")
                                                        <script type="text/javascript">
                                                            $(document).ready(function () {
                                                                $("#@Html.IdFor(m => m.Filtro.DataFinal)").on("change", function () {
                                                                    limpaLista();
                                                                });
                                                            });
                                                        </script>
                                                    </label>
                                                    @Html.ValidationMessageFor(m => m.Filtro.DataFinal, "Informe uma data válida.", new { @class = "note note-error" })
                                                </section>
                                                <script type="text/javascript">
                                                    $(document).ready(function () {
                                                        $('#@Html.IdFor(m => m.Filtro.DataInicial)').datepicker({
                                                            prevText: '<i class="fa fa-chevron-left"></i>',
                                                            nextText: '<i class="fa fa-chevron-right"></i>',
                                                            changeMonth: true,
                                                            changeYear: true,
                                                            onClose: function (selectedDate) {
                                                                if (selectedDate == '') {
                                                                    $(this).datepicker('disable');
                                                                    $(this).datepicker('setDate', new Date());
                                                                    $(this).datepicker('enable');
                                                                    selectedDate = new Date();
                                                                }
                                                                $('#@Html.IdFor(m => m.Filtro.DataFinal)').datepicker('option', 'minDate', selectedDate);
                                                            }
                                                        });

                                                        $('#@Html.IdFor(m => m.Filtro.DataFinal)').datepicker({
                                                            prevText: '<i class="fa fa-chevron-left"></i>',
                                                            nextText: '<i class="fa fa-chevron-right"></i>',
                                                            changeMonth: true,
                                                            changeYear: true,
                                                            onClose: function (selectedDate) {
                                                                if (selectedDate == '') {
                                                                    $(this).datepicker('disable');
                                                                    $(this).datepicker('setDate', new Date());
                                                                    $(this).datepicker('enable');
                                                                    selectedDate = new Date();
                                                                }
                                                                $('#@Html.IdFor(m => m.Filtro.DataInicial)').datepicker('option', 'maxDate', selectedDate);
                                                            }
                                                        });
                                                    });
                                                </script>
                                            </div>
                                            <div class="row">
                                                @Html.EditorFor(m => m.Filtro.CentroCusto, "CentroCusto", new { @sectionClass = "col col-6", @labelText = "Centro de Custo", @required = true })
                                                <script type="text/javascript">
                                                    $(document).ready(function () {
                                                        $("#@Html.IdFor(m => m.Filtro.CentroCusto.Codigo)").on("change", function () {
                                                            limpaLista();
                                                        });
                                                    });
                                                </script>
                                            </div>
                                            <div class="row">
                                                <section class="col col-12">
                                                    <div class="inline-group">
                                                        <label id="lblPorCompetencia" class="checkbox">@Html.CheckBoxFor(m => m.Filtro.EhPorCompetencia)<i></i>@Html.DisplayNameFor(m => m.Filtro.EhPorCompetencia) </label>
                                                        <label id="lblPorEmissaoDocumento" class="checkbox">@Html.CheckBoxFor(m => m.Filtro.EhPorEmissaoDocumento)<i></i>@Html.DisplayNameFor(m => m.Filtro.EhPorEmissaoDocumento) </label>
                                                    </div>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section class="col col-12">
                                                    <header>Contas a pagar</header>
                                                </section>
                                                @Html.EditorFor(m => m.Filtro.ClasseDespesa, "Classe", new { @sectionClass = "col col-6", @labelText = "Classe" })
                                                <script type="text/javascript">
                                                    $(document).ready(function () {
                                                        $("#@Html.IdFor(m => m.Filtro.ClasseDespesa.Codigo)").on("change", function () {
                                                            limpaLista();
                                                        });
                                                    });
                                                </script>
                                            </div>
                                            <div class="row">
                                                <section class="col col-6">
                                                    <button id="btnAddClasseDespesa" type="button" class="btn btn-primary">
                                                        Adicionar
                                                    </button>
                                                    <button id="btnRemoverClasseDespesa" type="button" class="btn btn-danger">
                                                        Remover
                                                    </button>
                                                </section>
                                            </div>
                                            @Html.HiddenFor(m => m.Filtro.JsonItensClasseDespesa)
                                            <div class="table-responsive" style="min-height: 115px; border: 1px solid #ddd; margin-bottom: 13px; width:100%; overflow-x: auto;">
                                                <table id="tableItensClasseDespesa" class="table table-bordered table-striped table-condensed table-hover dataTable">
                                                    <thead>
                                                        <tr role="row">
                                                            <th>Código</th>
                                                            <th>Descrição</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="row">
                                                <section class="col col-12">
                                                    <div class="inline-group">
                                                        <label id="lblMovimentoDeDebito" class="checkbox">@Html.CheckBoxFor(m => m.Filtro.EhMovimentoDebito)<i></i>@Html.DisplayNameFor(m => m.Filtro.EhMovimentoDebito)</label>
                                                        <label id="lblMovimentoDeDebitoCaixa" class="checkbox">@Html.CheckBoxFor(m => m.Filtro.EhMovimentoDebitoCaixa)<i></i>@Html.DisplayNameFor(m => m.Filtro.EhMovimentoDebitoCaixa)</label>
                                                    </div>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section class="col col-12">
                                                    <h5>Situação</h5>
                                                    <div class="inline-group">
                                                        <label id="lblSituacaoTituloAPagarProvisionado" class="checkbox">@Html.CheckBoxFor(m => m.Filtro.EhSituacaoAPagarProvisionado)<i></i>@Html.DisplayNameFor(m => m.Filtro.EhSituacaoAPagarProvisionado)</label>
                                                        <label id="lblSituacaoTituloAPagarAguardandoLiberacao" class="checkbox">@Html.CheckBoxFor(m => m.Filtro.EhSituacaoAPagarAguardandoLiberacao)<i></i>@Html.DisplayNameFor(m => m.Filtro.EhSituacaoAPagarAguardandoLiberacao)</label>
                                                        <label id="lblSituacaoTituloAPagarLiberado" class="checkbox">@Html.CheckBoxFor(m => m.Filtro.EhSituacaoAPagarLiberado)<i></i>@Html.DisplayNameFor(m => m.Filtro.EhSituacaoAPagarLiberado)</label>
                                                        <label id="lblSituacaoTituloAPagarEmitido" class="checkbox">@Html.CheckBoxFor(m => m.Filtro.EhSituacaoAPagarEmitido)<i></i>@Html.DisplayNameFor(m => m.Filtro.EhSituacaoAPagarEmitido)</label>
                                                        <label id="lblSituacaoTituloAPagarPago" class="checkbox">@Html.CheckBoxFor(m => m.Filtro.EhSituacaoAPagarPago)<i></i>@Html.DisplayNameFor(m => m.Filtro.EhSituacaoAPagarPago)</label>
                                                        <label id="lblSituacaoTituloAPagarBaixado" class="checkbox">@Html.CheckBoxFor(m => m.Filtro.EhSituacaoAPagarBaixado)<i></i>@Html.DisplayNameFor(m => m.Filtro.EhSituacaoAPagarBaixado)</label>
                                                        <label id="lblSituacaoTituloAPagarCancelado" class="checkbox">@Html.CheckBoxFor(m => m.Filtro.EhSituacaoAPagarCancelado)<i></i>@Html.DisplayNameFor(m => m.Filtro.EhSituacaoAPagarCancelado)</label>
                                                    </div>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section class="col col-12">
                                                    <header>Contas a receber</header>
                                                </section>
                                                @Html.EditorFor(m => m.Filtro.ClasseReceita, "Classe", new { @sectionClass = "col col-6", @labelText = "Classe" })
                                                <script type="text/javascript">
                                                    $(document).ready(function () {
                                                        $("#@Html.IdFor(m => m.Filtro.ClasseReceita.Codigo)").on("change", function () {
                                                            limpaLista();
                                                        });
                                                    });
                                                </script>
                                            </div>
                                            <div class="row">
                                                <section class="col col-6">
                                                    <button id="btnAddClasseReceita" type="button" class="btn btn-primary">
                                                        Adicionar
                                                    </button>
                                                    <button id="btnRemoverClasseReceita" type="button" class="btn btn-danger">
                                                        Remover
                                                    </button>
                                                </section>
                                            </div>
                                            @Html.HiddenFor(m => m.Filtro.JsonItensClasseReceita)
                                            <div class="table-responsive" style="min-height: 115px; border: 1px solid #ddd; margin-bottom: 13px; width:100%; overflow-x: auto;">
                                                <table id="tableItensClasseReceita" class="table table-bordered table-striped table-condensed table-hover dataTable">
                                                    <thead>
                                                        <tr role="row">
                                                            <th>Código</th>
                                                            <th>Descrição</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="row">
                                                <section class="col col-12">
                                                    <div class="inline-group">
                                                        <label id="lblMovimentoDeCredito" class="checkbox">@Html.CheckBoxFor(m => m.Filtro.EhMovimentoCredito)<i></i>@Html.DisplayNameFor(m => m.Filtro.EhMovimentoCredito)</label>
                                                        <label id="lblMovimentoDeCreditoCaixa" class="checkbox">@Html.CheckBoxFor(m => m.Filtro.EhMovimentoCreditoCaixa)<i></i>@Html.DisplayNameFor(m => m.Filtro.EhMovimentoCreditoCaixa)</label>
                                                        <label id="lblCreditoCobranca" class="checkbox">@Html.CheckBoxFor(m => m.Filtro.EhMovimentoCreditoCobranca)<i></i>@Html.DisplayNameFor(m => m.Filtro.EhMovimentoCreditoCobranca)</label>
                                                    </div>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section class="col col-12">
                                                    <h5>Situação</h5>
                                                    <div class="inline-group">
                                                        <label id="lblSituacaoTituloAReceberProvisionado" class="checkbox">@Html.CheckBoxFor(m => m.Filtro.EhSituacaoAReceberProvisionado)<i></i>@Html.DisplayNameFor(m => m.Filtro.EhSituacaoAReceberProvisionado)</label>
                                                        <label id="lblSituacaoTituloAReceberAFaturar" class="checkbox">@Html.CheckBoxFor(m => m.Filtro.EhSituacaoAReceberAFatura)<i></i>@Html.DisplayNameFor(m => m.Filtro.EhSituacaoAReceberAFatura)</label>
                                                        <label id="lblSituacaoTituloAReceberFaturado" class="checkbox">@Html.CheckBoxFor(m => m.Filtro.EhSituacaoAReceberFaturado)<i></i>@Html.DisplayNameFor(m => m.Filtro.EhSituacaoAReceberFaturado)</label>
                                                        <label id="lblSituacaoTituloAReceberPredatado" class="checkbox">@Html.CheckBoxFor(m => m.Filtro.EhSituacaoAReceberPreDatado)<i></i>@Html.DisplayNameFor(m => m.Filtro.EhSituacaoAReceberPreDatado)</label>
                                                        <label id="lblSituacaoTituloAReceberRecebido" class="checkbox">@Html.CheckBoxFor(m => m.Filtro.EhSituacaoAReceberRecebido)<i></i>@Html.DisplayNameFor(m => m.Filtro.EhSituacaoAReceberRecebido)</label>
                                                        <label id="lblSituacaoTituloAReceberQuitado" class="checkbox">@Html.CheckBoxFor(m => m.Filtro.EhSituacaoAReceberQuitado)<i></i>@Html.DisplayNameFor(m => m.Filtro.EhSituacaoAReceberQuitado)</label>
                                                        <label id="lblSituacaoTituloAReceberCancelado" class="checkbox">@Html.CheckBoxFor(m => m.Filtro.EhSituacaoAReceberCancelado)<i></i>@Html.DisplayNameFor(m => m.Filtro.EhSituacaoAReceberCancelado)</label>
                                                    </div>
                                                </section>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer>
                            @{
                            var url = Url.Action("Imprimir", "RelApropriacaoPorClasse");
                            }
                            @Html.EditorFor(m => m.PodeImprimir, "Imprimir", new { @url = url })                           
                        </footer>

                    }
                    @*<div id="resultadoBusca"></div>*@
                </div>
            </div>
        </div>
    </article>
</div>
@section scripts{
    @Html.EditorFor(m => m.Filtro.PaginationParameters, "ListPageScript")
}

<script type="text/javascript">
    $(document).ready(function () {
        $('body').addClass("hidden-menu");

        jQuery.validator.addMethod(
            "ehCentroCustoValido",
            function (value, element, params) {
                var isValid = validaCentroCusto();
                $.validator.messages.ehCentroCustoValido = $('#@Html.IdFor(m => m.Filtro.CentroCusto.Codigo)_ValidationMessage').html();
                return isValid;
            }, ''
        );

        jQuery.validator.addMethod(
            "ehClasseDespesaValida",
            function (value, element, params) {
                var isValid = validaClasse_@(Html.IdFor(m => m.Filtro.ClasseDespesa.Codigo))();
                $.validator.messages.ehClasseDespesaValida = $('#@Html.IdFor(m => m.Filtro.ClasseDespesa.Codigo)_ValidationMessage').html();
                return isValid;
            }, ''
        );

        jQuery.validator.addMethod(
            "ehClasseReceitaValida",
            function (value, element, params) {
                var isValid = validaClasse_@(Html.IdFor(m => m.Filtro.ClasseReceita.Codigo))();
                $.validator.messages.ehClasseReceitaValida = $('#@Html.IdFor(m => m.Filtro.ClasseReceita.Codigo)_ValidationMessage').html();
                return isValid;
            }, ''
        );

        $('#formFilter@(Model.Filtro.PaginationParameters.UniqueIdentifier)').validate({
            rules: {
                '@Html.NameFor(m => m.Filtro.DataInicial)': {
                    date: true
                },
                '@Html.NameFor(m => m.Filtro.DataFinal)': {
                    date: true
                },
                '@Html.NameFor(m => m.Filtro.CentroCusto.Codigo)': {
                    ehCentroCustoValido: true
                },
                '@Html.NameFor(m => m.Filtro.ClasseDespesa.Codigo)': {
                    ehClasseDespesaValida: true
                },
                '@Html.NameFor(m => m.Filtro.ClasseReceita.Codigo)': {
                    ehClasseReceitaValida: true
                }
            },
            messages: {
                '@Html.NameFor(m => m.Filtro.DataInicial)': {
                    date: '@GIR.Sigim.Application.Resource.Sigim.ErrorMessages.InformeDataValida'
                },
                '@Html.NameFor(m => m.Filtro.DataFinal)': {
                    date: '@GIR.Sigim.Application.Resource.Sigim.ErrorMessages.InformeDataValida'
                },
                '@Html.NameFor(m => m.Filtro.CentroCusto.Codigo)': {
                    required: '@string.Format(GIR.Sigim.Application.Resource.Sigim.ErrorMessages.CampoObrigatorio, "Centro de Custo")'
                }
            },
            errorPlacement: function (error, element) {
                var span = getErrorMessageContainer(element.attr("name"));
                span.html(error.append());
            },
            highlight: function (element, errorClass) {
                var span = getErrorMessageContainer($(element).attr("name"));
                span.removeClass("field-validation-valid");
                span.addClass("field-validation-error");
            },
            unhighlight: function (element, errorClass) {
                var span = getErrorMessageContainer($(element).attr("name"));
                span.removeClass("field-validation-error");
                span.addClass("field-validation-valid");
            }
        });
    });

    function limpaLista() {
        tratarBotoes(false);
        //$("#resultadoBusca").empty();
    }

    function tratarBotoes(condicaoImprimir) {
        @{
            bool? podeImprimir = Model.PodeImprimir as bool? ?? false;
        }

        @if(podeImprimir.ToString().ToLower() == "false"){
            @:condicaoImprimir = false;
        }

        if (condicaoImprimir) {
            $('#btnImprimir').attr("class","btn btn-primary");
        }
        else {
            $('#btnImprimir').attr("class","btn btn-primary disabled");
        }
    }
</script>