@using GIR.Sigim.Application.DTO.Contrato
@model GIR.Sigim.Presentation.WebUI.ViewModel.ListaViewModel

@{
    IEnumerable<ContratoDTO> Lista = Model.Records as IEnumerable<ContratoDTO>;
}

<div class="table-container" style="padding:0;">
    @if (Lista != null && Lista.Any())
    {
        <div class="dt-toolbar table-header hidden-xs" style="padding: 6px 7px 1px; box-sizing: border-box;">
            <div class="col-sm-12 col-xs-12" style="height: 37px;">
                <div class="dataTables_length" id="dt_basic_length" style="float: right!important;">
                    <label>
                        @Html.DropDownListFor(
                            m => m.PageSize,
                            Model.PageSizeList,
                            new {
                                @id = "pageSizeSelector" + Model.UniqueIdentifier,
                                @aria_controls="dt_basic",
                                @class="form-control"
                            })
                    </label>
                </div>
            </div>
        </div>
        <div id="tableSearchResult@(Model.UniqueIdentifier)" class="table-responsive" style="max-height: 315px; border: 1px solid #ddd; overflow-x: auto;">
            <table class="table table-bordered table-striped table-condensed table-hover dataTable">
                <thead>
                    <tr role="row">
                        @{
                            string sortingSuffix = Model.Ascending ? "_asc" : "_desc";
                            string idSortingSuffix = "sorting";
                            string centroCustoSortingSuffix = "sorting";
                            string descricaoContratoSortingSuffix = "sorting";
                            string contratanteSortingSuffix = "sorting";
                            string contratadoSortingSuffix = "sorting";
                            string dataAssinaturaSortingSuffix = "sorting";
                            string descricaoSituacaoSortingSuffix = "sorting";
                            string fornecedorSortingSuffix = "sorting";
                        
                            switch (Model.OrderBy)
                            {
                                case "centroCusto":
                                    centroCustoSortingSuffix += sortingSuffix;
                                    break;
                                case "descricaoContrato":
                                    descricaoContratoSortingSuffix += sortingSuffix;
                                    break;
                                case "contratante":
                                    contratanteSortingSuffix += sortingSuffix;
                                    break;
                                case "contratado":
                                    contratadoSortingSuffix += sortingSuffix;
                                    break;
                                case "dataAssinatura":
                                    dataAssinaturaSortingSuffix += sortingSuffix;
                                    break;
                                case "descricaoSituacao":
                                    descricaoSituacaoSortingSuffix += sortingSuffix;
                                    break;
                                case "fornecedor":
                                    fornecedorSortingSuffix += sortingSuffix;
                                    break;
                                case "id":
                                default:
                                    idSortingSuffix += sortingSuffix;
                                    break;
                            }
                        }
                        <th class="sorting @idSortingSuffix text-left" data-order="id" style="min-width:65px;">Contrato</th>
                        <th class="sorting @centroCustoSortingSuffix text-left" data-order="centroCusto" style="min-width:65px;">Centro Custo</th>
                        <th class="sorting @descricaoContratoSortingSuffix text-left" data-order="descricaoContrato" style="min-width:65px;">Descrição</th>
                        <th class="sorting @contratanteSortingSuffix text-left" data-order="contratante" style="min-width:65px;">Contratante</th>
                        <th class="sorting @contratadoSortingSuffix text-left" data-order="contratado" style="min-width:65px;">Contratado</th>
                        <th class="sorting @dataAssinaturaSortingSuffix text-nowrap" data-order="dataAssinatura" style="min-width:105px;">Data Assinatura</th>
                        <th class="sorting @descricaoSituacaoSortingSuffix text-left" data-order="descricaoSituacao" style="min-width:105px;">Situação</th>
                        <th class="sorting @fornecedorSortingSuffix text-left" data-order="fornecedor" style="min-width:85px;">Fornecedor</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Lista)
                    {
                        string dataAssinatura = "";
                        if (item.DataAssinatura.HasValue)
                        {
                            dataAssinatura = item.DataAssinatura.ToString().Remove((item.DataAssinatura.ToString().Length - 3), 3);
                            if (item.DataAssinatura.ToString().Contains("00:00:00"))
                            {
                                dataAssinatura = item.DataAssinatura.Value.ToShortDateString();
                            }
                        }
                        <tr>
                            <td class="text-right"><a href="javascript:TratarSelecaoContrato@(Model.UniqueIdentifier)(@item.Id);">@item.Id</a></td>
                            <td class="text-left">@item.DescricaoCentroCusto</td>
                            <td class="text-left">@item.ContratoDescricao.Descricao</td>
                            <td class="text-left">@item.Contratante.Nome</td>
                            <td class="text-left">@item.Contratado.Nome</td>
                            <td class="text-center">@dataAssinatura</td>
                            <td class="text-left">@item.SituacaoDescricao</td>
                            <td class="text-left">@item.Contratado.Nome</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @Html.Partial("_PaginationPartial", Model)
    }
</div>