@using GIR.Sigim.Application.DTO.Sigim
@model GIR.Sigim.Presentation.WebUI.ViewModel.ListaViewModel

@{
    IEnumerable<BancoDTO> Lista = Model.Records as IEnumerable<BancoDTO>;
}

<div class="table-container">
    @if (Lista != null && Lista.Any())
    {
        <div class="dt-toolbar table-header hidden-xs">
            <div class="col-sm-12 col-xs-12">
                <div class="dataTables_length" id="dt_basic_length" style="float: right!important;">
                    <label>
                        @Html.DropDownListFor(
                            m => m.PageSize,
                            Model.PageSizeList,
                            new
                            {
                                @id = "pageSizeSelector",
                                @aria_controls = "dt_basic",
                                @class = "form-control",
                                onchange = "changePageSize();"
                            })
                    </label>
                </div>
            </div>
        </div>
        <div class="table-responsive" style="min-height: 115px; border: 1px solid #ddd; margin-bottom: 13px; overflow-x: auto;">
            <table id="tableSearchResult" class="table table-bordered table-striped table-condensed table-hover dataTable">
                <thead>
                    <tr role="row">
                        @{
        string sortingSuffix = Model.Ascending ? "_asc" : "_desc";
        string idSortingSuffix = "sorting";
        string nomeSortingSuffix = "sorting";
        string interfaceEletronicaSortingSuffix = "sorting";
        string numeroRemessaSortingSuffix = "sorting";
        string numeroRemessaPagamentoSortingSuffix = "sorting";

        switch (Model.OrderBy)
        {
            case "id":
                idSortingSuffix += sortingSuffix;
                break;
            case "nome":
                nomeSortingSuffix += sortingSuffix;
                break;
            case "interfaceEletronica":
                interfaceEletronicaSortingSuffix += sortingSuffix;
                break;
            case "numeroRemessa":
                numeroRemessaSortingSuffix += sortingSuffix;
                break;
            case "numeroRemessaPagamento":
                numeroRemessaPagamentoSortingSuffix += sortingSuffix;
                break;
            default:
                break;
        }
                        }
                        <th class="sorting @idSortingSuffix text-center" data-order="id" style="width:60px; ">Código</th>
                        <th class="sorting @nomeSortingSuffix text-center" data-order="nome" style="min-width:65px;">Nome</th>
                        <th class="sorting @interfaceEletronicaSortingSuffix text-center" data-order="interfaceEletronica" style="min-width:75px;">Interface eletrônica</th>
                        <th class="sorting @numeroRemessaSortingSuffix text-center" data-order="numeroRemessa" style="min-width:75px;">Rem.cobrança</th>
                        <th class="sorting @numeroRemessaPagamentoSortingSuffix text-center" data-order="numeroRemessaPagamento" style="min-width:75px;">Rem.pagamento</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Lista)
                    {
                        <tr>
                            <td class="text-right"><a href="javascript:loadItem(@item.Id.ToString());">@item.Id.ToString()</a></td>
                            <td class="text-left">@item.Nome</td>
                            <td class="text-center">@item.InterfaceEletronicaDescricao</td>
                            <td class="text-right">@item.NumeroRemessa</td>
                            <td class="text-right">@item.NumeroRemessaPagamento</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @Html.Partial("_PaginationPartial", Model.Pagination)
    }
</div>