@using GIR.Sigim.Application.DTO.Sigim
@model GIR.Sigim.Presentation.WebUI.ViewModel.ListaViewModel

@{
    IEnumerable<MaterialDTO> Lista = Model.Records as IEnumerable<MaterialDTO>;
}

@if (Lista != null && Lista.Any())
{
    @Html.HiddenFor(m => m.OrderBy)
    @Html.HiddenFor(m => m.Ascending)
    <div class="table-responsive" style="max-height: 315px; border: 1px solid #ddd; margin-bottom: 13px; overflow-x: auto;">
        <table class="table table-bordered table-striped table-condensed table-hover dataTable">
            <thead>
                <tr role="row">
                    @*@{
                        string sortingSuffix = Model.Ascending ? "_asc" : "_desc";
                        string descricaoSortingSuffix = "sorting";
                        string unidadeMedidaSortingSuffix = "sorting";
                        string idSortingSuffix = "sorting";
                        string classeInsumoSortingSuffix = "sorting";
                        string precoUnitarioSortingSuffix = "sorting";
                        string tipoTabelaSortingSuffix = "sorting";
                        string mesAnoSortingSuffix = "sorting";
                        string codigoExternoSortingSuffix = "sorting";
                        
                        switch (Model.OrderBy)
                        {
                            case "unidadeMedida":
                                unidadeMedidaSortingSuffix += sortingSuffix;
                                break;
                            case "id":
                                idSortingSuffix += sortingSuffix;
                                break;
                            case "classeInsumo":
                                classeInsumoSortingSuffix += sortingSuffix;
                                break;
                            case "precoUnitario":
                                precoUnitarioSortingSuffix += sortingSuffix;
                                break;
                            case "tipoTabela":
                                tipoTabelaSortingSuffix += sortingSuffix;
                                break;
                            case "mesAno":
                                mesAnoSortingSuffix += sortingSuffix;
                                break;
                            case "codigoExterno":
                                codigoExternoSortingSuffix += sortingSuffix;
                                break;
                            case "descricao":
                            default:
                                descricaoSortingSuffix += sortingSuffix;
                                break;
                        }
                    }*@
                        
                    <th data-order="descricao">Descrição</th>
                    <th class="text-center" data-order="unidadeMedida">Unidade medida</th>
                    <th class="text-right" data-order="id">Código</th>
                    <th data-order="classeInsumo">Classe insumo</th>
                    <th class="text-right" data-order="precoUnitario">Preço unit.</th>
                    <th class="text-center" data-order="tipoTabela">Tipo de tabela</th>
                    <th class="text-center" data-order="mesAno">Mês/Ano</th>
                    <th class="text-center" data-order="codigoExterno">Código externo</th>

                    @*<th class="sorting @descricaoSortingSuffix" data-order="descricao">Descrição</th>
                    <th class="sorting @unidadeMedidaSortingSuffix text-center" data-order="unidadeMedida">Unidade medida</th>
                    <th class="sorting @idSortingSuffix text-right" data-order="id">Código</th>
                    <th class="sorting @classeInsumoSortingSuffix" data-order="classeInsumo">Classe insumo</th>
                    <th class="sorting @precoUnitarioSortingSuffix text-right" data-order="precoUnitario">Preço unit.</th>
                    <th class="sorting @tipoTabelaSortingSuffix text-center" data-order="tipoTabela">Tipo de tabela</th>
                    <th class="sorting @mesAnoSortingSuffix text-center" data-order="mesAno">Mês/Ano</th>
                    <th class="sorting @codigoExternoSortingSuffix text-center" data-order="codigoExterno">Código externo</th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Lista)
                {
                    <tr>
                        <td><a href="javascript:TratarSelecaoMaterial(@item.Id, '@item.Descricao.Replace("'", "\\\'").Replace("\"", "\\\"")', '@item.SiglaUnidadeMedida');">@item.Descricao</a></td>
                        <td>@item.SiglaUnidadeMedida</td>
                        <td>@item.Id</td>
                        <td>@item.CodigoMaterialClasseInsumo</td>
                        <td>@item.PrecoUnitario</td>
                        <td>@item.DescricaoTipoTabela</td>
                        <td>@item.AnoMes</td>
                        <td>@item.CodigoExterno</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}