@model GIR.Sigim.Presentation.WebUI.Areas.Financeiro.ViewModel.RelContasPagarTitulosListaViewModel
@{
    ViewBag.Title = "Titulos a pagar";
}

@Html.Partial("_NotificationMessagesPartial")
<div class="row">
    <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable centerBox">
        <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
            <header>
                <span class="widget-icon"><i class="fa fa-cog"></i></span>
                <h2>@ViewBag.Title</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    @using (Ajax.BeginForm(
                        "Lista",
                        "RelContasPagarTitulos",
                        null,
                        new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnSuccess = "renderTela", UpdateTargetId = "resultadoBusca" },
                        new { @id = "formFilter" + Model.Filtro.PaginationParameters.UniqueIdentifier, @class = "smart-form client-form", @novalidate = "novalidate" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Filtro.PaginationParameters.PageIndex)
                        @Html.HiddenFor(m => m.Filtro.PaginationParameters.PageSize)
                        @Html.HiddenFor(m => m.Filtro.PaginationParameters.OrderBy)
                        @Html.HiddenFor(m => m.Filtro.PaginationParameters.Ascending)
                        @Html.HiddenFor(m => m.Filtro.PaginationParameters.UniqueIdentifier)
                        <div class="panel-group smart-accordion-default" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFiltro" class="">
                                            <i class="fa fa-lg fa-angle-down pull-right"></i>
                                            <i class="fa fa-lg fa-angle-up pull-right"></i>
                                            Filtro
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFiltro" class="panel-collapse collapse in">
                                    <div class="panel-body no-padding">
                                        <fieldset>
                                            <div class="row">
                                                <section class="col col-3">
                                                    @Html.LabelFor(m => m.Filtro.DataInicial, new { @class = "label" })
                                                    <label class="input">
                                                        <i class="icon-append fa fa-calendar"></i>
                                                        @Html.TextBoxFor(m => m.Filtro.DataInicial, "{0:dd/MM/yyyy}",new { @class = "required" })
                                                    </label>
                                                    <script type="text/javascript">
                                                        $(document).ready(function () {
                                                            $("#@Html.IdFor(m => m.Filtro.DataInicial)").on("change", function () {
                                                                limpaLista();
                                                            });
                                                        });
                                                    </script>
                                                    @Html.ValidationMessageFor(m => m.Filtro.DataInicial, "Informe uma data válida.", new { @class = "note note-error" })
                                                </section>
                                                <section class="col col-3">
                                                    @Html.LabelFor(m => m.Filtro.DataFinal, new { @class = "label" })
                                                    <label class="input">
                                                        <i class="icon-append fa fa-calendar"></i>
                                                        @Html.TextBoxFor(m => m.Filtro.DataFinal, "{0:dd/MM/yyyy}",new { @class = "required" })
                                                    </label>
                                                    <script type="text/javascript">
                                                        $(document).ready(function () {
                                                            $("#@Html.IdFor(m => m.Filtro.DataFinal)").on("change", function () {
                                                                limpaLista();
                                                            });
                                                        });
                                                    </script>
                                                    @Html.ValidationMessageFor(m => m.Filtro.DataFinal, "Informe uma data válida.", new { @class = "note note-error" })
                                                </section>
                                                <script type="text/javascript">
                                                    $(document).ready(function () {
                                                        $('#@Html.IdFor(m => m.Filtro.DataInicial)').datepicker({
                                                            prevText: '<i class="fa fa-chevron-left"></i>',
                                                            nextText: '<i class="fa fa-chevron-right"></i>',
                                                            changeMonth: true,
                                                            changeYear: true,
                                                            onClose: function (selectedDate) {
                                                                if (selectedDate == '') {
                                                                    $(this).datepicker('disable');
                                                                    $(this).datepicker('setDate', new Date());
                                                                    $(this).datepicker('enable');
                                                                    selectedDate = new Date();
                                                                }
                                                            }
                                                        });

                                                        $('#@Html.IdFor(m => m.Filtro.DataFinal)').datepicker({
                                                            prevText: '<i class="fa fa-chevron-left"></i>',
                                                            nextText: '<i class="fa fa-chevron-right"></i>',
                                                            changeMonth: true,
                                                            changeYear: true,
                                                            onClose: function (selectedDate) {
                                                                if (selectedDate == '') {
                                                                    $(this).datepicker('disable');
                                                                    $(this).datepicker('setDate', new Date());
                                                                    $(this).datepicker('enable');
                                                                    selectedDate = new Date();
                                                                }
                                                            }
                                                        });
                                                    });
                                                </script>
                                                <section class="col col-6">
                                                    @Html.EditorFor(m => m.Filtro.ClienteFornecedor, "ClienteFornecedorPesquisaGenerica", 
                                                                new { @sectionClass = "col col-10", 
                                                                      @required = false, 
                                                                      @label = "Correntista", 
                                                                      @clienteFornecedorModulo = ((int)GIR.Sigim.Application.Enums.ClienteFornecedorModuloAutoComplete.APagar),
                                                                      @situacao = ((int)GIR.Sigim.Application.Enums.SituacaoAutoComplete.Ativo),
                                                                      @exibirBotaoPesquisa = false
                                                                })
                                                    <script type="text/javascript">
                                                        $(document).ready(function () {
                                                            $("#@Html.IdFor(m => m.Filtro.ClienteFornecedor.Id)").on("change", function () {
                                                                limpaLista();
                                                            });
                                                        });
                                                    </script>
                                                    <section class="col col-1">
                                                        <button id="btnSearch" type="submit" class="btn btn-primary base-align btnSearchWithPagination" title="Buscar" onclick="javascript:goToPage@(Model.Filtro.PaginationParameters.UniqueIdentifier)(0);">
                                                            <i class="fa fa-search fa-lg"></i>
                                                        </button>
                                                    </section>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section class="col col-6">
                                                    @Html.LabelFor(m => m.Filtro.Identificacao, new { @class = "label" })
                                                    <label class="input">
                                                        @Html.TextBoxFor(m => m.Filtro.Identificacao)
                                                    </label>
                                                    <script type="text/javascript">
                                                        $(document).ready(function () {
                                                            $("#@Html.IdFor(m => m.Filtro.Identificacao)").on("change", function () {
                                                                limpaLista();
                                                            });
                                                        });
                                                    </script>
                                                    @Html.ValidationMessageFor(m => m.Filtro.Identificacao, "", new { @class = "note note-error" })
                                                </section>
                                                <section class="col col-6">
                                                    @Html.LabelFor(m => m.Filtro.Documento, new { @class = "label" })
                                                    <label class="input">
                                                        @Html.TextBoxFor(m => m.Filtro.Documento , new { @maxlength = "10" })
                                                    </label>
                                                    <script type="text/javascript">
                                                        $(document).ready(function () {
                                                            $("#@Html.IdFor(m => m.Filtro.Documento)").on("change", function () {
                                                                limpaLista();
                                                            });
                                                        });
                                                    </script>
                                                    @Html.ValidationMessageFor(m => m.Filtro.Documento, "", new { @class = "note note-error" })
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section class="col col-6">
                                                    @Html.LabelFor(m => m.Filtro.TipoCompromissoId, new { @class = "label" })
                                                    <label class="select">
                                                        @Html.DropDownListFor(m => m.Filtro.TipoCompromissoId, Model.ListaTipoCompromisso, string.Empty, new { @class = "disabled" })<i></i>
                                                    </label>
                                                    <script type="text/javascript">
                                                        $(document).ready(function () {
                                                            $("#@Html.IdFor(m => m.Filtro.TipoCompromissoId)").on("change", function () {
                                                                limpaLista();
                                                            });
                                                        });
                                                    </script>
                                                    @Html.ValidationMessageFor(m => m.Filtro.TipoCompromissoId, "", new { @class = "note note-error" })
                                                </section>

                                                <section class="col col-6">
                                                    @Html.LabelFor(m => m.Filtro.FormaPagamentoCodigo, new { @class = "label" })
                                                    <label class="select">
                                                        @Html.DropDownListFor(m => m.Filtro.FormaPagamentoCodigo, Model.ListaFormaPagamento, string.Empty, new { @class = "disabled" })<i></i>
                                                    </label>
                                                    <script type="text/javascript">
                                                        $(document).ready(function () {
                                                            $("#@Html.IdFor(m => m.Filtro.FormaPagamentoCodigo)").on("change", function () {
                                                                limpaLista();
                                                            });
                                                        });
                                                    </script>
                                                    @Html.ValidationMessageFor(m => m.Filtro.FormaPagamentoCodigo, "", new { @class = "note note-error" })
                                                </section>
                                            </div>
                                            <div class="row">
                                                @Html.EditorFor(m => m.Filtro.Classe, "Classe", new { @sectionClass = "col col-6", @labelText = "Classe" })
                                                <script type="text/javascript">
                                                    $(document).ready(function () {
                                                        $("#@Html.IdFor(m => m.Filtro.Classe.Codigo)").on("change", function () {
                                                            limpaLista();
                                                        });
                                                    });
                                                </script>
                                            </div>
                                            <div class="row">
                                                @Html.EditorFor(m => m.Filtro.CentroCusto, "CentroCusto", new { @sectionClass = "col col-6", @labelText = "Centro de Custo" })
                                                <script type="text/javascript">
                                                    $(document).ready(function () {
                                                        $("#@Html.IdFor(m => m.Filtro.CentroCusto.Codigo)").on("change", function () {
                                                            limpaLista();
                                                        });
                                                    });
                                                </script>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <div class="row">
                                                <section class="col col-6">
                                                    <h5>Situação</h5>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section class="col col-12">
                                                    <div class="inline-group">
                                                        <label id="lblSituacaoTituloAPagarProvisionado" class="checkbox">@Html.CheckBoxFor(m => m.Filtro.EhSituacaoAPagarProvisionado)<i></i>@Html.DisplayNameFor(m => m.Filtro.EhSituacaoAPagarProvisionado)</label>
                                                        <label id="lblSituacaoTituloAPagarAguardandoLiberacao" class="checkbox">@Html.CheckBoxFor(m => m.Filtro.EhSituacaoAPagarAguardandoLiberacao)<i></i>@Html.DisplayNameFor(m => m.Filtro.EhSituacaoAPagarAguardandoLiberacao)</label>
                                                        <label id="lblSituacaoTituloAPagarLiberado" class="checkbox">@Html.CheckBoxFor(m => m.Filtro.EhSituacaoAPagarLiberado)<i></i>@Html.DisplayNameFor(m => m.Filtro.EhSituacaoAPagarLiberado)</label>
                                                        <label id="lblSituacaoTituloAPagarEmitido" class="checkbox">@Html.CheckBoxFor(m => m.Filtro.EhSituacaoAPagarEmitido)<i></i>@Html.DisplayNameFor(m => m.Filtro.EhSituacaoAPagarEmitido)</label>
                                                        <label id="lblSituacaoTituloAPagarPago" class="checkbox">@Html.CheckBoxFor(m => m.Filtro.EhSituacaoAPagarPago)<i></i>@Html.DisplayNameFor(m => m.Filtro.EhSituacaoAPagarPago)</label>
                                                        <label id="lblSituacaoTituloAPagarBaixado" class="checkbox">@Html.CheckBoxFor(m => m.Filtro.EhSituacaoAPagarBaixado)<i></i>@Html.DisplayNameFor(m => m.Filtro.EhSituacaoAPagarBaixado)</label>
                                                        <label id="lblSituacaoTituloAPagarCancelado" class="checkbox">@Html.CheckBoxFor(m => m.Filtro.EhSituacaoAPagarCancelado)<i></i>@Html.DisplayNameFor(m => m.Filtro.EhSituacaoAPagarCancelado)</label>
                                                    </div>
                                                </section>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <div class="row">
                                                <section class="col col-12">
									                <div class="inline-group">
										                <label class="radio"> @Html.RadioButtonFor(m => m.Filtro.VisualizarClientePor, 0) <i></i>Nome fantasia</label>
										                <label class="radio"> @Html.RadioButtonFor(m => m.Filtro.VisualizarClientePor, 1) <i></i>Razão Social</label>
									                </div>
								                </section>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <div class="row">
                                                <section class="col col-6">
                                                    <h5>Dados bancários</h5>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section class="col col-6">
                                                    @Html.LabelFor(m => m.Filtro.BancoId, new { @class = "label" })                                
                                                    <label class="select">                                                      
                                                        @Html.DropDownListFor(m => m.Filtro.BancoId, Model.ListaBanco, string.Empty)
                                                        <i></i> 
                                                    </label>    
                                                    <script type="text/javascript">
                                                        $(document).ready(function () {
                                                            $("#@Html.IdFor(m => m.Filtro.BancoId)").on("change", function () {
                                                                limpaComboAgenciaConta();
                                                                limpaComboCaixa();
                                                                carregaComboAgenciaConta();
                                                                limpaLista();
                                                            });
                                                        });
                                                    </script> 
                                                    @Html.ValidationMessageFor(m => m.Filtro.BancoId, "", new { @class = "note note-error" })
                                                </section>
                                                <section class="col col-6">
                                                    @Html.LabelFor(m => m.Filtro.ContaCorrenteId, new { @class = "label" })                                
                                                    <label class="select">                                                      
                                                        @Html.DropDownListFor(m => m.Filtro.ContaCorrenteId, Model.ListaAgenciaConta, string.Empty)
                                                        <i></i> 
                                                    </label>    
                                                    @Html.ValidationMessageFor(m => m.Filtro.ContaCorrenteId, "", new { @class = "note note-error" })
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section class="col col-6">
                                                    @Html.LabelFor(m => m.Filtro.CaixaId, new { @class = "label" })                                
                                                    <label class="select">                                                      
                                                        @Html.DropDownListFor(m => m.Filtro.CaixaId, Model.ListaCaixa, string.Empty)
                                                        <i></i> 
                                                    </label>    
                                                    <script type="text/javascript">
                                                        $(document).ready(function () {
                                                            $("#@Html.IdFor(m => m.Filtro.CaixaId)").on("change", function () {
                                                                limpaComboBanco();
                                                                limpaComboAgenciaConta();
                                                                limpaLista();
                                                            });
                                                        });
                                                    </script> 
                                                    @Html.ValidationMessageFor(m => m.Filtro.CaixaId, "", new { @class = "note note-error" })
                                                </section>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <div class="row">
                                                <section class="col col-12">
                                                    <h5>Valor entre</h5>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section class="col col-4">
                                                    @Html.LabelFor(m => m.Filtro.ValorTituloInicial, new { @class = "label" })
                                                    <label class="input">
                                                        @Html.TextBoxFor(m => m.Filtro.ValorTituloInicial, "", new { @class = "text-right decimal-2-casas" })
                                                        <script type="text/javascript">
                                                            $(document).ready(function () {
                                                                $("#@Html.IdFor(m => m.Filtro.ValorTituloInicial)").on("focusout", function () {
                                                                    validaValores();
                                                                });
                                                            });
                                                        </script>
                                                    </label>
                                                    @Html.ValidationMessageFor(m => m.Filtro.ValorTituloInicial, "", new { @class = "note note-error" })
                                                </section>
                                                <section class="col col-4">
                                                    @Html.LabelFor(m => m.Filtro.ValorTituloFinal, new { @class = "label" })
                                                    <label class="input">
                                                        @Html.TextBoxFor(m => m.Filtro.ValorTituloFinal, "", new { @class = "text-right decimal-2-casas" })
                                                        <script type="text/javascript">
                                                            $(document).ready(function () {
                                                                $("#@Html.IdFor(m => m.Filtro.ValorTituloFinal)").on("focusout", function () {
                                                                    validaValores();
                                                                    limpaLista();
                                                                });
                                                            });
                                                        </script>
                                                    </label>
                                                    @Html.ValidationMessageFor(m => m.Filtro.ValorTituloFinal, "", new { @class = "note note-error" })
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section class="col col-4">
                                                    @Html.LabelFor(m => m.Filtro.DocumentoPagamento, new { @class = "label" })
                                                    <label class="input">
                                                        @Html.TextBoxFor(m => m.Filtro.DocumentoPagamento, "", new { @maxlength = "20" })
                                                        <script type="text/javascript">
                                                            $(document).ready(function () {
                                                                $("#@Html.IdFor(m => m.Filtro.DocumentoPagamento)").on("change", function () {
                                                                    limpaLista();
                                                                });
                                                            });
                                                        </script>
                                                    </label>
                                                    @Html.ValidationMessageFor(m => m.Filtro.DocumentoPagamento, "", new { @class = "note note-error" })
                                                </section>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <div class="row">
                                                <section class="col col-12">
                                                    <div class="inline-group">
                                                        <label id="lblPorCompetencia" class="checkbox">@Html.CheckBoxFor(m => m.Filtro.EhPorCompetencia)<i></i>@Html.DisplayNameFor(m => m.Filtro.EhPorCompetencia)</label>
                                                        <label id="lblSemApropriacao" class="checkbox">@Html.CheckBoxFor(m => m.Filtro.EhSemApropriacao)<i></i>@Html.DisplayNameFor(m => m.Filtro.EhSemApropriacao)</label>
                                                    </div>
                                                </section>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <div class="row">
                                                <section class="col col-12">
                                                    <h5>Apresentação do relatório</h5>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section class="col col-12">
									                <div class="inline-group">
										                <label class="radio"> @Html.RadioButtonFor(m => m.Filtro.EhTotalizadoPor, 0, new { @id="rdbTotalizado0"}) <i></i>Totalizado geral</label>
										                <label class="radio"> @Html.RadioButtonFor(m => m.Filtro.EhTotalizadoPor, 3, new { @id="rdbTotalizado1"}) <i></i>Totalizado por data situação</label>
										                <label class="radio"> @Html.RadioButtonFor(m => m.Filtro.EhTotalizadoPor, 4, new { @id="rdbTotalizado2"}) <i></i>Totalizado por data situação (sintético)</label>
                                                        <label class="radio"> @Html.RadioButtonFor(m => m.Filtro.EhTotalizadoPor, 1, new { @id="rdbTotalizado3"}) <i></i>Totalizado por fornecedor</label>
                                                        <label class="radio"> @Html.RadioButtonFor(m => m.Filtro.EhTotalizadoPor, 2, new { @id="rdbTotalizado4"}) <i></i>Totalizado por classe</label>
									                </div>
								                </section>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer>
                            @{
                                var url = Url.Action("Imprimir", "RelContasPagarTitulos");
                            }
                            @Html.EditorFor(m => m.PodeImprimir, "Imprimir", new { @url = url })
                        </footer>
                    }
                    <div id="resultadoBusca"></div>
                </div>
            </div>
        </div>
    </article>
</div>
@section scripts{
    @Html.EditorFor(m => m.Filtro.PaginationParameters, "ListPageScript");
}

<script type="text/javascript">

    $(document).ready(function () {

        $('body').addClass("hidden-menu");

        $("#rdbTotalizado0").on("change", function () {
            habilitaDesabilitaChkSemDadosApropriacao(true);
        });
        $("#rdbTotalizado1").on("change", function () {
            habilitaDesabilitaChkSemDadosApropriacao(false);
        });
        $("#rdbTotalizado2").on("change", function () {
            habilitaDesabilitaChkSemDadosApropriacao(false);
        });
        $("#rdbTotalizado3").on("change", function () {
            habilitaDesabilitaChkSemDadosApropriacao(false);
        });
        $("#rdbTotalizado4").on("change", function () {
            habilitaDesabilitaChkSemDadosApropriacao(false);
        });

        $(document).on("showFormatoImpressaoModalPanel", function (e) {
            var dataInicial = $("#@Html.IdFor(m => m.Filtro.DataInicial)").val();
            var dataFinal = $("#@Html.IdFor(m => m.Filtro.DataFinal)").val();

            if ((dataInicial == "") || (dataFinal == "")) {
                smartAlert("Atenção", "Informe o período !", "warning");
                e.event.preventDefault();
            }

            if ((dataInicial != "") && (dataFinal != "")) {
                if (compararDatas(dataInicial, dataFinal) > 0) {
                    smartAlert("Atenção", "Data inicial maior que data final !", "warning");
                    e.event.preventDefault();
                }
            }
        })

        $(document).on("doFilter@(Model.Filtro.PaginationParameters.UniqueIdentifier)",
            function (e) {
                ListaScrollLeft = $('#resultadoBusca div.table-responsive').scrollLeft();
                listarFiltro();
            }
        );
    });

    function habilitaDesabilitaChkSemDadosApropriacao(condicao) 
    {
        if (condicao == true) {
            $('#@Html.IdFor(m => m.Filtro.EhSemApropriacao)').prop('disabled', '');
            $('#@Html.IdFor(m => m.Filtro.EhSemApropriacao)').prop('checked', false);
            $('#@Html.IdFor(m => m.Filtro.EhSemApropriacao)').removeClass("state-disabled");
            $('#lblSemApropriacao').removeClass("state-disabled");
        }
        else {
            $('#@Html.IdFor(m => m.Filtro.EhSemApropriacao)').prop('disabled', 'disabled');
            $('#@Html.IdFor(m => m.Filtro.EhSemApropriacao)').prop('checked', false);
            $('#@Html.IdFor(m => m.Filtro.EhSemApropriacao)').addClass("state-disabled");
            $('#lblSemApropriacao').addClass("state-disabled");
        }
    }

    function renderTela() {
        onSuccess();
        $('#resultadoBusca div.table-responsive').scrollLeft(ListaScrollLeft);
    }

    function refresh(result) {
        onSuccess();
        // se a lista da pesquisa nao retornou , se não retornou desabilita o botão imprimir
        if (result.search('tableSearchResult') == -1) {
            tratarBotoes(false);
        }
    }

    function limpaLista() {
        tratarBotoes(false);
        $("#resultadoBusca").empty();
    }

    function tratarBotoes(condicaoImprimir) {
        @{
            bool? podeImprimir = Model.PodeImprimir as bool? ?? false;
        }

        @if(podeImprimir.ToString().ToLower() == "false"){
            @:condicaoImprimir = false;
        }

        if (condicaoImprimir) {
            $('#btnImprimir').attr("class", "btn btn-primary");
        }
        else {
            $('#btnImprimir').attr("class", "btn btn-primary disabled");
        }
    }

    function listarFiltro() {

        tratarBotoes(true);

        $('#formFilter@(Model.Filtro.PaginationParameters.UniqueIdentifier)').submit();

        $('#collapseFiltro').attr("class", "panel-collapse collapse");

    }

    function carregaComboAgenciaConta() {
        var bancoId = $('#@Html.IdFor(m => m.Filtro.BancoId)').val();
        if ((bancoId == null) || (bancoId == ''))
        {
            bancoId = 0;
        }
        if (bancoId != 0) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CarregaComboAgenciaContaCorrente", "RelContasPagarTitulos", new { Area = "Financeiro" })',
                cache: false,
                async: false,
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    bancoId: bancoId
                }),
                success: function (result) {
                    var listaAgenciaContaCorrente = JSON.parse(result.listaContaCorrente);
                    $.each(listaAgenciaContaCorrente, function (index, item) {
                        $('#@Html.IdFor(m => m.Filtro.ContaCorrenteId)').append($('<option>').text(item.AgenciaContaCorrente).attr('value', item.Id));
                    });
                },
                error: function (result) {
                    smartAlert("Atenção", result.statusText, "warning");
                }
            });
        }
    }

    function limpaComboBanco() {
        $('#@Html.IdFor(m => m.Filtro.BancoId)').val(0);
    }

    function limpaComboAgenciaConta() {
        $('#@Html.IdFor(m => m.Filtro.ContaCorrenteId)').html('');
        $('#@Html.IdFor(m => m.Filtro.ContaCorrenteId)').append($('<option>').text('').attr('value', ''));
        $('#@Html.IdFor(m => m.Filtro.ContaCorrenteId)').val(0);
    }

    function limpaComboCaixa() {
        $('#@Html.IdFor(m => m.Filtro.CaixaId)').val(0);
    }

    function validaValores() {
        var valorTituloInicial = stringToFloat($("#@Html.IdFor(m => m.Filtro.ValorTituloInicial)").val());
        var valorTituloFinal = stringToFloat($("#@Html.IdFor(m => m.Filtro.ValorTituloFinal)").val());

        if (!isNaN(valorTituloInicial) && !isNaN(valorTituloFinal)) {
            if (((valorTituloInicial > 0) && (valorTituloFinal > 0))  && (valorTituloInicial > valorTituloFinal)) {
                smartAlert("Atenção", "Valor inicial maior que valor final !", "warning");
                return false;
            }

        }
    }

</script>