@using GIR.Sigim.Application.DTO.Financeiro
@model GIR.Sigim.Presentation.WebUI.ViewModel.ListaViewModel

@{
    IEnumerable<RelContasPagarTitulosDTO> Lista = Model.Records as IEnumerable<RelContasPagarTitulosDTO>;
}

<div class="table-container">
    @if (Lista != null && Lista.Any())
    {
        <div class="dt-toolbar table-header hidden-xs">
            <div class="col-sm-12 col-xs-12">
                <div class="dataTables_length" id="dt_basic_length" style="float: right!important;">
                    <label>
                        @Html.DropDownListFor(
                            m => m.PageSize,
                            Model.PageSizeList,
                            new
                            {
                                @id = "pageSizeSelector" + Model.UniqueIdentifier,
                                @aria_controls = "dt_basic",
                                @class = "form-control"
                            })
                    </label>
                </div>
            </div>
        </div>
        <div class="table-responsive" style="width:100%; overflow-x:auto;">
            <table id="tableSearchResult@(Model.UniqueIdentifier)" class="table table-bordered table-striped table-condensed table-hover dataTable">
                <thead>
                    <tr role="row">
                        @{
                            string sortingSuffix = Model.Ascending ? "_asc" : "_desc";
                            string tituloIdSortingSuffix = "sorting";
                            string dataSituacaoSortingSuffix = "sorting";
                            string valorTituloSortingSuffix = "sorting";
                            string valorLiquidoSortingSuffix = "sorting";
                            string valorApropriadoSortingSuffix = "sorting";

                            switch (Model.OrderBy)
                            {
                                case "tituloId":
                                    tituloIdSortingSuffix += sortingSuffix;
                                    break;
                                case "dataSituacao":
                                    dataSituacaoSortingSuffix += sortingSuffix;
                                    break;
                                case "valorTitulo":
                                    valorTituloSortingSuffix += sortingSuffix;
                                    break;
                                case "valorLiquido":
                                    valorLiquidoSortingSuffix += sortingSuffix;
                                    break;
                                case "valorApropriado":
                                    valorApropriadoSortingSuffix += sortingSuffix;
                                    break;
                                default:
                                    break;
                            }
                        }

                        <th class="sorting @tituloIdSortingSuffix text-left" data-order="tituloId" style="min-width:60px;">Título</th>
                        <th class="sorting @dataSituacaoSortingSuffix text-left" data-order="dataSituacao" style="min-width:70px;">Data seleção</th>
                        <th class="sorting @valorTituloSortingSuffix text-left" data-order="valorTitulo" style="min-width:90px;">Valor título</th>
                        <th class="sorting @valorLiquidoSortingSuffix text-left" data-order="valorLiquido" style="min-width:60px;">Valor líquido</th>
                        <th class="sorting @valorApropriadoSortingSuffix text-left" data-order="valorApropriado" style="min-width:60px;">Valor Apropriado</th>
                    </tr>
                </thead>
@*                <tbody>
                    @foreach (var item in Lista)
                    {
                        string cpfCnpj = "";
                        if (item.TituloPagar.Cliente.TipoPessoa == "F")
                        {
                            cpfCnpj = item.TituloPagar.Cliente.PessoaFisica.Cpf;
                        }
                        else
                        {
                            if (item.TituloPagar.Cliente.TipoPessoa == "J")
                            {
                                cpfCnpj = item.TituloPagar.Cliente.PessoaJuridica.Cnpj;
                            }
                        }
                        
                        string dataSituacao = "";
                        if (item.TituloPagar.DataSituacao.HasValue)
                        {
                            dataSituacao = item.TituloPagar.DataSituacao.Value.ToShortDateString();
                        }

                        string dataPagamento = "";
                        if (item.TituloPagar.DataPagamento.HasValue)
                        {
                            dataPagamento = item.TituloPagar.DataPagamento.Value.ToShortDateString();
                        }

                        string dataEmissao = "";
                        if (item.TituloPagar.DataEmissao.HasValue)
                        {
                            dataEmissao = item.TituloPagar.DataEmissao.Value.ToShortDateString();
                        }

                        string dataBaixa = "";
                        if (item.TituloPagar.DataBaixa.HasValue)
                        {
                            dataBaixa = item.TituloPagar.DataBaixa.Value.ToShortDateString();
                        }

                        string dataCadastro = "";
                        if (item.TituloPagar.DataCadastro.HasValue)
                        {
                            dataCadastro = item.TituloPagar.DataCadastro.Value.ToShortDateString();
                        }

                        string documentoCompleto = "";
                        if (item.TituloPagar.TipoDocumentoId.HasValue)
                        {
                            documentoCompleto = item.TituloPagar.TipoDocumentoId.Value + " " + item.TituloPagar.Documento;
                        }
                        else
                        {
                            documentoCompleto = item.TituloPagar.Documento;
                        }
                            
                        string documentoPagamento = "";
                        if (item.TituloPagar.MovimentoId.HasValue)
                        {
                            documentoPagamento = item.TituloPagar.Movimento.Documento;
                        }

                        string agenciaContaCorrente = "";
                        if (item.TituloPagar.Movimento.ContaCorrente != null)
                        {
                            agenciaContaCorrente = item.TituloPagar.Movimento.ContaCorrente.AgenciaContaCorrente;
                        }

                        if (item.TituloPagar.FormaPagamentoDescricao.ToUpper() == "Dinheiro".ToUpper())
                        {
                            agenciaContaCorrente = item.TituloPagar.Movimento.Caixa.Descricao;
                        } 

                        string tipoCompromissoDescricao = "";
                        if (item.TituloPagar.TipoCompromisso != null)
                        {
                            tipoCompromissoDescricao = item.TituloPagar.TipoCompromisso.Descricao;
                        }

                        string motivoCancelamentoDescricao = "";
                        if (item.TituloPagar.MotivoCancelamento != null)
                        {
                            motivoCancelamentoDescricao = item.TituloPagar.MotivoCancelamento.Descricao;
                        }                                               
                        
                        <tr>
                            <td class="text-right text-nowrap">@item.TituloPagar.Id</td>
                            <td class="text-center text-nowrap">@item.TituloPagar.DataVencimento.ToShortDateString()</td>
                            <td class="text-left text-nowrap">@item.TituloPagar.DataEmissaoDocumento.ToShortDateString()</td>
                            <td class="text-left text-nowrap">@documentoCompleto</td>
                            <td class="text-left text-nowrap">@item.TituloPagar.ValorTitulo.ToString("N2")</td>
                            <td class="text-right text-nowrap">@item.TituloPagar.ValorLiquido</td>
                            <td class="text-left text-nowrap">@item.TituloPagar.Cliente.Nome</td>
                            <td class="text-left text-nowrap">@item.TituloPagar.Identificacao</td>
                            <td class="text-left text-nowrap">@item.TituloPagar.FormaPagamentoDescricao</td>
                            <td class="text-left text-nowrap">@documentoPagamento</td>
                            <td class="text-left text-nowrap">@agenciaContaCorrente</td>                           
                            <td class="text-left text-nowrap">@tipoCompromissoDescricao</td>
                            <td class="text-left text-nowrap">@item.TituloPagar.SituacaoDescricao</td>
                            <td class="text-center text-nowrap">@dataSituacao</td>
                            <td class="text-center text-nowrap">@dataEmissao</td>
                            <td class="text-center text-nowrap">@dataPagamento</td>
                            <td class="text-center text-nowrap">@dataBaixa</td>
                            <td class="text-left text-nowrap">@motivoCancelamentoDescricao</td>
                            <td class="text-left text-nowrap">@cpfCnpj</td>
                            <td class="text-left text-nowrap">@item.TituloPagar.LoginUsuarioCadastro</td>
                            <td class="text-left text-nowrap">@dataCadastro</td>
                        </tr>
                    }
                </tbody>*@


                <tbody>
                    @foreach (var item in Lista)
                    {
                        string dataSelecao = "";
                        if (item.DataSelecao.HasValue)
                        {
                            dataSelecao = item.DataSelecao.Value.ToShortDateString();
                        }
                        
                        <tr>
                            <td class="text-right text-nowrap">@item.TituloId</td>
                            <td class="text-center text-nowrap">@dataSelecao</td>
                            <td class="text-right text-nowrap">@item.ValorTitulo.ToString("N2")</td>
                            <td class="text-right text-nowrap">@item.ValorLiquido.ToString("N2")</td>
                            <td class="text-right text-nowrap">@item.ValorApropriado.ToString("N2")</td>
                        </tr>
                    }
                </tbody>


            </table>
        </div>
        @Html.Partial("_PaginationPartial", Model)
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {

        $('body').addClass("hidden-menu");
    });
</script>