@using GIR.Sigim.Application.DTO.Financeiro
@model GIR.Sigim.Presentation.WebUI.Areas.Financeiro.ViewModel.ListaViewModelRelContasPagarTitulo

@{
    IEnumerable<RelContasPagarTitulosDTO> Lista = Model.Records as IEnumerable<RelContasPagarTitulosDTO>;
}

<div class="table-container">
    @if (Lista != null && Lista.Any())
    {
        <div class="jarviswidget jarviswidget-sortable" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" role="widget" style="">
			<header role="heading">
				<span class="widget-icon"></span>
				<h2>Totais - @(Model.TotalizadoPorDescricao) </h2>
				<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
			</header>
			<div role="content">
				<div class="widget-body no-padding">
					<form class="smart-form">
						<fieldset>
							<div class="row">
                                <section class="col col-4">
                                    @Html.LabelFor(m => m.TotalValorTitulo, new { @class = "label" })
                                    <label class="input">
                                        @Html.TextBoxFor(m => m.TotalValorTitulo, "{0:N2}", new { @readonly = "", @class = "text-right decimal-2-casas readonly", @style = "font-weight:bold" })  
                                    </label>
                                </section>
                                <section class="col col-4">
                                    @Html.LabelFor(m => m.TotalValorLiquido, new { @class = "label" })
                                    <label class="input">
                                        @Html.TextBoxFor(m => m.TotalValorLiquido, "{0:N2}", new { @readonly = "", @class = "text-right decimal-2-casas readonly", @style = "font-weight:bold" })  
                                    </label>
                                </section>
                                <section class="col col-4">
                                    @Html.LabelFor(m => m.TotalValorApropriacao, new { @class = "label" })
                                    <label class="input">
                                        @Html.TextBoxFor(m => m.TotalValorApropriacao, "{0:N2}", new { @readonly = "", @class = "text-right decimal-2-casas readonly", @style = "font-weight:bold" })  
                                    </label>
                                </section>
							</div>
                        </fieldset>
					</form>
				</div>
			</div>
        </div>
        
        <div class="dt-toolbar table-header hidden-xs">
            <div class="col-sm-12 col-xs-12">
                <div class="dataTables_length" id="dt_basic_length" style="float: right!important;">
                    <label>
                        @Html.DropDownListFor(
                            m => m.PageSize,
                            Model.PageSizeList,
                            new
                            {
                                @id = "pageSizeSelector" + Model.UniqueIdentifier,
                                @aria_controls = "dt_basic",
                                @class = "form-control"
                            })
                    </label>
                </div>
            </div>
        </div>
        <div class="table-responsive" style="width:100%; overflow-x:auto;">
            <table id="tableSearchResult@(Model.UniqueIdentifier)" class="table table-bordered table-striped table-condensed table-hover dataTable">
                <thead>
                    <tr role="row">
                        @{
                            string sortingSuffix = Model.Ascending ? "_asc" : "_desc";
                            string tituloIdSortingSuffix = "sorting";
                            string dataVencimentoSortingSuffix = "sorting";
                            string dataEmissaoDocumentoSortingSuffix = "sorting";
                            string documentoCompletoSortingSuffix = "sorting";
                            string valorTituloSortingSuffix = "sorting";
                            string valorLiquidoSortingSuffix = "sorting";
                            string nomeClienteSortingSuffix = "sorting";
                            string identificacaoSortingSuffix = "sorting";
                            string descricaoFormaPagamentoSortingSuffix = "sorting";
                            string documentoPagamentoSortingSuffix = "sorting";
                            string agenciaContaSortingSuffix = "sorting";
                            string descricaoTipoCompromissoSortingSuffix = "sorting";
                            string descricaoSituacaoSortingSuffix = "sorting";
                            string dataSelecaoSortingSuffix = "sorting";
                            string dataEmissaoSortingSuffix = "sorting";
                            string dataPagamentoSortingSuffix = "sorting";
                            string dataBaixaSortingSuffix = "sorting";
                            string descricaoMotivoCancelamentoSortingSuffix = "sorting";
                            string cpfCnpjSortingSuffix = "sorting";
                            string operadorCadastroSortingSuffix = "sorting";
                            string dataCadastroSortingSuffix = "sorting";
                            string valorApropriadoSortingSuffix = "sorting";
                            string classeSortingSuffix = "sorting";
                            string centroCustoSortingSuffix = "sorting";

                            switch (Model.OrderBy)
                            {
                                case "tituloId":
                                    tituloIdSortingSuffix += sortingSuffix;
                                    break;
                                case "dataVencimento":
                                    dataVencimentoSortingSuffix += sortingSuffix;
                                    break;
                                case "dataEmissaoDocumento":
                                    dataEmissaoDocumentoSortingSuffix += sortingSuffix;
                                    break;
                                case "documentoCompleto":
                                    documentoCompletoSortingSuffix += sortingSuffix;
                                    break;
                                case "valorTitulo":
                                    valorTituloSortingSuffix += sortingSuffix;
                                    break;
                                case "valorLiquido":
                                    valorLiquidoSortingSuffix += sortingSuffix;
                                    break;
                                case "nomeCliente":
                                    nomeClienteSortingSuffix += sortingSuffix;
                                    break;
                                case "identificacao":
                                    identificacaoSortingSuffix += sortingSuffix;
                                    break;
                                case "descricaoFormaPagamento":
                                    descricaoFormaPagamentoSortingSuffix += sortingSuffix;
                                    break;
                                case "documentoPagamento":
                                    documentoPagamentoSortingSuffix += sortingSuffix;
                                    break;
                                case "agenciaConta":
                                    agenciaContaSortingSuffix += sortingSuffix;
                                    break;
                                case "descricaoTipoCompromisso":
                                    descricaoTipoCompromissoSortingSuffix += sortingSuffix;
                                    break;
                                case "descricaoSituacao":
                                    descricaoSituacaoSortingSuffix += sortingSuffix;
                                    break;
                                case "dataSelecao":
                                    dataSelecaoSortingSuffix += sortingSuffix;
                                    break;
                                case "dataEmissao":
                                    dataEmissaoSortingSuffix += sortingSuffix;
                                    break;
                                case "dataPagamento":
                                    dataPagamentoSortingSuffix += sortingSuffix;
                                    break;
                                case "dataBaixa":
                                    dataBaixaSortingSuffix += sortingSuffix;
                                    break;
                                case "descricaoMotivoCancelamento":
                                    descricaoMotivoCancelamentoSortingSuffix += sortingSuffix;
                                    break;
                                case "cpfCnpj":
                                    cpfCnpjSortingSuffix += sortingSuffix;
                                    break;
                                case "operadorCadastro":
                                    operadorCadastroSortingSuffix += sortingSuffix;
                                    break;
                                case "dataCadastro":
                                    dataCadastroSortingSuffix += sortingSuffix;
                                    break;
                                case "valorApropriado":
                                    valorApropriadoSortingSuffix += sortingSuffix;
                                    break;
                                case "classe":
                                    classeSortingSuffix += sortingSuffix;
                                    break;
                                case "centroCusto":
                                    centroCustoSortingSuffix += sortingSuffix;
                                    break;
                                default:
                                    break;
                            }
                        }

                        <th class="sorting @tituloIdSortingSuffix text-left" data-order="tituloId" style="min-width:60px;">Título</th>
                        <th class="sorting @dataVencimentoSortingSuffix text-left" data-order="dataVencimento" style="min-width:70px;">Data vencimento</th>
                        <th class="sorting @dataEmissaoDocumentoSortingSuffix text-left" data-order="dataEmissaoDocumento" style="min-width:80px;">Data emissão documento</th>
                        <th class="sorting @documentoCompletoSortingSuffix text-left" data-order="documentoCompleto" style="min-width:70px;">Documento</th>
                        <th class="sorting @valorTituloSortingSuffix text-left" data-order="valorTitulo" style="min-width:90px;">Valor título</th>
                        <th class="sorting @valorLiquidoSortingSuffix text-left" data-order="valorLiquido" style="min-width:60px;">Valor líquido</th>
                        <th class="sorting @nomeClienteSortingSuffix text-left" data-order="nomeCliente">Cliente</th>
                        <th class="sorting @identificacaoSortingSuffix text-left" data-order="identificacao" style="min-width:100px;">Identificação</th>
                        <th class="sorting @descricaoFormaPagamentoSortingSuffix text-left" data-order="descricaoFormaPagamento" style="min-width:70px;">Forma de pagamento</th>
                        <th class="sorting @documentoPagamentoSortingSuffix text-left" data-order="documentoPagamento" style="min-width:70px;">Doc. pagamento</th>
                        <th class="sorting @agenciaContaSortingSuffix text-left" data-order="agenciaConta" style="min-width:80px;">Agência conta</th>
                        <th class="sorting @descricaoTipoCompromissoSortingSuffix text-left" data-order="descricaoTipoCompromisso" style="min-width:80px;">Tipo compromisso</th>
                        <th class="sorting @descricaoSituacaoSortingSuffix text-left" data-order="descricaoSituacao" style="min-width:60px;">Situação</th>
                        <th class="sorting @dataSelecaoSortingSuffix text-left" data-order="dataSelecao" style="min-width:70px;">Data seleção</th>
                        <th class="sorting @dataEmissaoSortingSuffix text-left" data-order="dataEmissao" style="min-width:70px;">Data emissão</th>
                        <th class="sorting @dataPagamentoSortingSuffix text-left" data-order="dataPagamento" style="min-width:70px;">Data pagamento</th>
                        <th class="sorting @dataBaixaSortingSuffix text-left" data-order="dataBaixa" style="min-width:70px;">Data baixa</th>
                        <th class="sorting @descricaoMotivoCancelamentoSortingSuffix text-left" data-order="descricaoMotivoCancelamento" style="min-width:70px;">Motivo cancelamento</th>
                        <th class="sorting @cpfCnpjSortingSuffix text-left" data-order="cpfCnpj" style="min-width:70px;">CNPJ/CPF</th>
                        <th class="sorting @operadorCadastroSortingSuffix text-left" data-order="operadorCadastro" style="min-width:70px;">Operador cadastro</th>
                        <th class="sorting @dataCadastroSortingSuffix text-left" data-order="dataCadastro" style="min-width:70px;">Data cadastro</th>
                        <th class="sorting @valorApropriadoSortingSuffix text-left" data-order="valorApropriacao" style="min-width:70px;">Valor Apropriado</th>
                        <th class="sorting @classeSortingSuffix text-left" data-order="classe" style="min-width:70px;">Classe</th>
                        <th class="sorting @centroCustoSortingSuffix text-left" data-order="centroCusto" style="min-width:70px;">Centro de custo</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Lista)
                    {
                        string dataSelecao = "";
                        if (item.DataSelecao.HasValue)
                        {
                            dataSelecao = item.DataSelecao.Value.ToShortDateString();
                        }

                        string dataPagamento = "";
                        if (item.DataPagamento.HasValue)
                        {
                            dataPagamento = item.DataPagamento.Value.ToShortDateString();
                        }

                        string dataEmissao = "";
                        if (item.DataEmissao.HasValue)
                        {
                            dataEmissao = item.DataEmissao.Value.ToShortDateString();
                        }

                        string dataBaixa = "";
                        if (item.DataBaixa.HasValue)
                        {
                            dataBaixa = item.DataBaixa.Value.ToShortDateString();
                        }

                        string dataCadastro = "";
                        if (item.DataCadastro.HasValue)
                        {
                            dataCadastro = item.DataCadastro.Value.ToShortDateString();
                        }
                        
                        <tr>
                            <td class="text-right text-nowrap">@item.TituloId</td>
                            <td class="text-center text-nowrap">@item.DataVencimento.ToShortDateString()</td>
                            <td class="text-center text-nowrap">@item.DataEmissaoDocumento.ToShortDateString()</td>
                            <td class="text-left text-nowrap">@item.DocumentoCompleto</td>
                            <td class="text-right text-nowrap">@item.ValorTitulo.ToString("N2")</td>
                            <td class="text-right text-nowrap">@item.ValorLiquido.ToString("N2")</td>
                            <td class="text-left text-nowrap">@item.NomeCliente</td>
                            <td class="text-left text-nowrap">@item.Identificacao</td>
                            <td class="text-left text-nowrap">@item.FormaPagamentoDescricao</td>
                            <td class="text-left text-nowrap">@item.DocumentoPagamento</td>
                            <td class="text-left text-nowrap">@item.AgenciaContaCorrente</td>                           
                            <td class="text-left text-nowrap">@item.TipoCompromissoDescricao</td>
                            <td class="text-left text-nowrap">@item.SituacaoTituloDescricao</td>
                            <td class="text-center text-nowrap">@dataSelecao</td>
                            <td class="text-center text-nowrap">@dataEmissao</td>
                            <td class="text-center text-nowrap">@dataPagamento</td>
                            <td class="text-center text-nowrap">@dataBaixa</td>
                            <td class="text-left text-nowrap">@item.MotivoCancelamentoDescricao</td>
                            <td class="text-left text-nowrap">@item.CPFCNPJ</td>
                            <td class="text-left text-nowrap">@item.LoginUsuarioCadastro</td>
                            <td class="text-center text-nowrap">@dataCadastro</td>
                            <td class="text-right text-nowrap">@item.ValorApropriado.ToString("N2")</td>
                            <td class="text-left text-nowrap">@item.CodigoDescricaoClasse</td>
                            <td class="text-left text-nowrap">@item.CodigoDescricaoCentroCusto</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @Html.Partial("_PaginationPartialRelContasPagarTitulos", Model)
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {

        $('body').addClass("hidden-menu");

    });

    function exibeInfoVisualizacao() {
        var infoContrato = "Totais - " + $("#@Html.IdFor(m => m.TotalizadoPorDescricao)").val();
    }

</script>