@model GIR.Sigim.Application.DTO.Sigim.MaterialDTO
@{
    string uniqueIdentifier = Html.IdFor(m => m.Id).ToHtmlString();
    Model.PaginationParameters.UniqueIdentifier = uniqueIdentifier;
}
<section class="@ViewBag.sectionClass" style="margin: 0;">
    @{   
        string cssClass = (ViewBag.required as bool? ?? false) ? "required" : string.Empty;
        ViewBag.label = !(string.IsNullOrEmpty(ViewBag.label)) ? ViewBag.label : "Material";
        ViewBag.exibirBotaoPesquisa = (ViewBag.exibirBotaoPesquisa as bool? ?? true);
        ViewBag.exibirCampoUnidadeMedida = (ViewBag.exibirCampoUnidadeMedida as bool? ?? true);
                
        @Html.HiddenFor(m => m.Id)
          
        if (ViewBag.exibirCampoUnidadeMedida)
        {
            <section class="col col-10" style="padding-left: 0;">
            
                <label class="label">@ViewBag.label</label>
                @if (ViewBag.exibirBotaoPesquisa)
                {
                    <div class="input-group">
                        <label class="input">
                            @Html.TextBoxFor(m => m.Descricao, new { @placeholder = "Digite o nome do " + @ViewBag.label, @class = cssClass })
                        </label>
                        <a id="BtnShowModalPanel1_@(uniqueIdentifier)" data-toggle="modal" href="#@(uniqueIdentifier)_Pesquisa_ModalPanel" class="button-icon input-group-addon"><i class="fa fa-lg fa-search"></i></a>
                    </div>
                }
                else
                {
                    <label class="input">
                        @Html.TextBoxFor(m => m.Descricao, new { @placeholder = "Digite o nome do " + @ViewBag.label, @class = cssClass })
                    </label>
                }
            </section>
            <section class="col col-2" style="padding-right: 0;">
                @Html.LabelFor(m => m.SiglaUnidadeMedida, "UN", new { @class = "label" })
                <label class="input">
                    @Html.TextBoxFor(m => m.SiglaUnidadeMedida, new { @readonly = "", @class = "readonly" })
                </label>
            </section>
            
        }
        else
        {
            <label class="label">@ViewBag.label</label>
            if (ViewBag.exibirBotaoPesquisa)
            {
                <div class="input-group">
                    <label class="input">
                        @Html.TextBoxFor(m => m.Descricao, new { @placeholder = "Digite o nome do " + @ViewBag.label, @class = cssClass })
                    </label>
                    <a id="BtnShowModalPanel2_@(uniqueIdentifier)" data-toggle="modal" href="#@(uniqueIdentifier)_Pesquisa_ModalPanel" class="button-icon input-group-addon"><i class="fa fa-lg fa-search"></i></a>
                </div>
            }
            else
            {
                <label class="input">
                    @Html.TextBoxFor(m => m.Descricao, new { @placeholder = "Digite o nome do " + @ViewBag.label, @class = cssClass })
                </label>
            }
        }
    }
    @Html.ValidationMessageFor(m => m.Id, "", new { @id = uniqueIdentifier + "_ValidationMessage", @class = "note note-error" })
</section>

<div class="modal fade" id="@(uniqueIdentifier)_Pesquisa_ModalPanel" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">Material
                </h4>
            </div>
            <div id="@(uniqueIdentifier)_Pesquisa_ModalBody" class="modal-body no-padding" style="min-height:290px;">
                <div class="panel-group smart-accordion-default" id="@(uniqueIdentifier)_accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#@(uniqueIdentifier)_accordion" href="#@(uniqueIdentifier)_collapseFiltro" class="">
                                    <i class="fa fa-lg fa-angle-down pull-right"></i>
                                    <i class="fa fa-lg fa-angle-up pull-right"></i>
                                    Filtro
                                </a>
                            </h4>
                        </div>
                        <div id="@(uniqueIdentifier)_collapseFiltro" class="panel-collapse collapse in">
                            @Html.HiddenFor(m => m.PaginationParameters.PageIndex)
                            @Html.HiddenFor(m => m.PaginationParameters.PageSize)
                            @Html.HiddenFor(m => m.PaginationParameters.OrderBy)
                            @Html.HiddenFor(m => m.PaginationParameters.Ascending)
                            @Html.HiddenFor(m => m.PaginationParameters.UniqueIdentifier)
                            <div class="panel-body no-padding">
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label class="label" for="@(uniqueIdentifier)_cboCampo">Campo</label>
                                            <label class="select">
                                                <select id="@(uniqueIdentifier)_cboCampo" name="@(uniqueIdentifier)_cboCampo">
                                                    <option value="descricao">Descrição</option>
                                                    <option value="unidadeMedida">Unidade medida</option>
                                                    <option value="id">Código</option>
                                                    <option value="classeInsumo">Classe insumo</option>
                                                    <option value="codigoExterno">Código externo</option>
                                                </select>
                                                <i></i>
                                            </label>
                                        </section>
                                        <section class="col col-8">
											<label class="label">Seleção</label>
											<div class="inline-group">
												<label class="radio">
													<input type="radio" id="@(uniqueIdentifier)_radTipoSelecaoIntervalo" name="tipoSelecao" value="@((int)GIR.Sigim.Application.Enums.TipoPesquisa.Intervalo)">
													<i></i>
                                                    Intervalo
												</label>
												<label class="radio">
													<input type="radio" id="@(uniqueIdentifier)_radTipoSelecaoContem" name="tipoSelecao" value="@((int)GIR.Sigim.Application.Enums.TipoPesquisa.Contem)">
													<i></i>
                                                    Contém
												</label>
											</div>
										</section>
                                    </div>
                                    <div class="row">
                                        <section id="@(uniqueIdentifier)_sectionDe" class="col col-3">
                                            <label class="label" for="@(uniqueIdentifier)_txtDe">De</label>
                                            <label class="input">
                                                <input id="@(uniqueIdentifier)_txtDe" name="txtDe" type="text" value="">
                                            </label>
                                        </section>

                                        <section id="@(uniqueIdentifier)_sectionAte" class="col col-3">
                                            <label class="label" for="@(uniqueIdentifier)_txtAte">Até</label>
                                            <label class="input">
                                                <input id="@(uniqueIdentifier)_txtAte" name="txtAte" type="text" value="">
                                            </label>
                                        </section>

                                        <section class="col col-3">
                                            <a id="@(uniqueIdentifier)_btnSearch" class="btn btn-primary base-align btnSearchWithPagination" title="Buscar">
                                                <i class="fa fa-search fa-lg"></i>
                                            </a>
                                        </section>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="@(uniqueIdentifier)_resultadoBusca"></div>
            </div>
        </div>
    </div>
</div>

@Html.EditorFor(m => m.PaginationParameters, "ListPageScript")

<div class="modal fade" id="@(uniqueIdentifier)_ModalPanel" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">Insumos controlados
                </h4>
            </div>
            <div id="@(uniqueIdentifier)_ModalBody" class="modal-body no-padding">
                <div class="table-responsive" style="max-height: 350px; border: 1px solid #ddd; margin-bottom: 13px; overflow-x: auto;">
                    <table id="@(uniqueIdentifier)_tableItens" class="table table-bordered table-striped table-condensed table-hover dataTable">
                        <thead>
                            <tr role="row">
                                <th>Composição</th>
                                <th>Classe</th>
                                <th>Material</th>
                                <th class="text-right">Qtd. orçada</th>
                                <th class="text-right">Qtd. requisitada</th>
                                <th class="text-right">Qtd. saldo</th>
                                <th class="text-right">Quantidade</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
				<button type="button" id="btnAdicionarInterfaceOrcamentoItem" class="btn btn-primary">
					Ok
				</button>
			</div>
        </div>
    </div>
</div>
@{
    bool? insumoControlado = ViewBag.insumoControlado as bool? ?? false;
}
<script type="text/javascript">
    var codigoCentroCusto_@(uniqueIdentifier);
    var codigoClasse_@(uniqueIdentifier);
    var itemInsumoSelecionado = false;

    $(document).ready(function () {
        $("#@Html.IdFor(m => m.Descricao)").autocomplete({
            source: function (request, response) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ListarAtivosPeloCentroCustoEDescricao", "Material", new { area = "" })',
                    cache: false,
                    dataType: "json",
                    data: {
                        codigoCentroCusto: codigoCentroCusto_@(uniqueIdentifier),
                        descricao: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                id: item.Id,
                                label: item.Descricao,
                                value: item.Descricao,
                                unidade: item.SiglaUnidadeMedida
                            }
                        }));
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {
                TratarSelecaoMaterial@(uniqueIdentifier)(ui.item.id, ui.item.label, ui.item.unidade);
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    limpaMaterialForm_@(uniqueIdentifier)();
                }
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            return $("<li>")
                .append("<a>" + highlight(item.label, this.term) + " - " + item.unidade + "</a>")
                .appendTo(ul);
        };

        $(document).on("click", "#btnAdicionarInterfaceOrcamentoItem", function () {
            $('td[class=quantidadeInsumo] input[type=text]').each(function () {
                if (parseFloat($(this).val().replace(".", "").replace(",", ".")) > 0) {
                    itemInsumoSelecionado = true;
                    $('#@(uniqueIdentifier)_ModalPanel').modal('hide');

                    $.event.trigger({
                        type: "interfaceOrcamentoSelecionado",
                        composicaoId: $(this).data('composicao'),
                        materialId: $(this).data('material'),
                        quantidade: $(this).val(),
                        codigoClasse: $(this).data('codigo-classe'),
                        descricaoClasse: $(this).data('descricao-classe')
                    });

                    return false;
                }
            });

            if (!itemInsumoSelecionado)
                smartAlert("Erro", "Selecione um insumo para requisitar.", "error");
        });

        $(document).on("hide.bs.modal", "#@(uniqueIdentifier)_ModalPanel", function () {
            if (!itemInsumoSelecionado) {
                $.event.trigger({
                    type: "interfaceOrcamentoSelecionado",
                    composicaoId: null,
                    materialId: null,
                    quantidade: null,
                    codigoClasse: null,
                    descricaoClasse: null
                });
            }
        });

        @{
            bool? centroCustoRequerido = ViewBag.centroCustoRequerido as bool? ?? false;
            string linkModal = "#" + uniqueIdentifier + "_Pesquisa_ModalPanel";
            string linkNotificarObrigatoriedadeCentroCusto = "javascript:notificarObrigatoriedadeCentroCusto();";
            string href = linkModal;
            if (centroCustoRequerido.Value)
            {
                href = linkNotificarObrigatoriedadeCentroCusto;
            }
        }

        $(document).on("centroCustoValidado",
            function (e) {
                codigoCentroCusto_@(uniqueIdentifier) = e.codigo;

                @if (centroCustoRequerido.Value)
                {
                    @:if (e.isValid) {
                    @:  if (e.codigo != '')
                    @:      unblockMaterialForm_@(uniqueIdentifier)();
                    @:  else {
                    @:      blockMaterialForm_@(uniqueIdentifier)();
                    @:      limpaMaterialForm_@(uniqueIdentifier)();
                    @:  }
                    @:}
                    @:else {
                    @:  blockMaterialForm_@(uniqueIdentifier)();
                    @:  limpaMaterialForm_@(uniqueIdentifier)();
                    @:}
                }
            }
        );

        $(document).on("classeValidada",
            function (e) {
                codigoClasse_@(uniqueIdentifier) = e.isValid ? e.codigo : '';
            }
        );

        @if (centroCustoRequerido.Value)
        {
            @:validaCentroCusto();
        }

        $('input[type=radio][name=tipoSelecao]').change(function () {
            if ($(this).val() == '@((int)GIR.Sigim.Application.Enums.TipoPesquisa.Contem)') {
                $('#@(uniqueIdentifier)_sectionDe label[for="@(uniqueIdentifier)_txtDe"]:first').text('Contém');
                $('#@(uniqueIdentifier)_sectionAte').hide();
            }
            else {
                $('#@(uniqueIdentifier)_sectionDe label[for="@(uniqueIdentifier)_txtDe"]:first').text('De');
                $('#@(uniqueIdentifier)_sectionAte').show();
            }
        });

        $(document).on("show.bs.modal", "#@(uniqueIdentifier)_Pesquisa_ModalPanel", function () {
            $('#@(uniqueIdentifier)_txtDe').val('');
            $('#@(uniqueIdentifier)_txtAte').val('');
            $('#@(uniqueIdentifier)_cboCampo').val($('#@(uniqueIdentifier)_cboCampo option:first').val());
            $('#@(uniqueIdentifier)_resultadoBusca').html('');
            SetTipoSelecao('Contem');
        });

        function SetTipoSelecao(tipo) {
            var radioId = '#@(uniqueIdentifier)_radTipoSelecao' + tipo;
            $(radioId)
                .attr('checked', true)
                .trigger('change')
                .trigger('click');
        }

        $(document).on("change", "#@(uniqueIdentifier)_cboCampo", function () {
            $('#@(uniqueIdentifier)_txtDe').val('');
            $('#@(uniqueIdentifier)_txtAte').val('');
            $('#@Html.IdFor(m => m.PaginationParameters.OrderBy)').val($(this).val());
            $('#@Html.IdFor(m => m.PaginationParameters.Ascending)').val(true);
            if ($('#@(uniqueIdentifier)_cboCampo').val() == 'id') {
                $('#@(uniqueIdentifier)_txtDe').addClass('text-right numeric');
                $('#@(uniqueIdentifier)_txtAte').addClass('text-right numeric');
                SetTipoSelecao('Intervalo');
                $('#@(uniqueIdentifier)_radTipoSelecaoContem').attr('disabled', true);
            }
            else {
                $('#@(uniqueIdentifier)_txtDe').removeClass('text-right numeric');
                $('#@(uniqueIdentifier)_txtAte').removeClass('text-right numeric');
                $('#@(uniqueIdentifier)_radTipoSelecaoContem').attr('disabled', false);
            }
        });

        $('#@(uniqueIdentifier)_btnSearch').on("click", function () {
            goToPage@(Model.PaginationParameters.UniqueIdentifier)(0);
        });

        $(document).on("doFilter@(uniqueIdentifier)",
            function (e) {
                Pesquisar@(uniqueIdentifier)();
            }
        );

    });

    function Pesquisar@(uniqueIdentifier)() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("PesquisarMaterial", "Material", new { area = "" })',
            cache: false,
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                Campo: $('#@(uniqueIdentifier)_cboCampo').val(),
                TipoSelecao: $('input[type=radio][name=tipoSelecao]:checked').val(),
                TextoInicio: $('#@(uniqueIdentifier)_txtDe').val(),
                TextoFim: $('#@(uniqueIdentifier)_txtAte').val(),
                CodigoCentroCusto: codigoCentroCusto_@(uniqueIdentifier),
                PageIndex: $('#@Html.IdFor(m => m.PaginationParameters.PageIndex)').val(),
                PageSize: $('#@Html.IdFor(m => m.PaginationParameters.PageSize)').val(),
                OrderBy: $('#@Html.IdFor(m => m.PaginationParameters.OrderBy)').val(),
                Ascending: $('#@Html.IdFor(m => m.PaginationParameters.Ascending)').val(),
                UniqueIdentifier: $('#@Html.IdFor(m => m.PaginationParameters.UniqueIdentifier)').val()
            })
        })
        .success(function (result) {
            $('#@(uniqueIdentifier)_resultadoBusca').html(result);
        });
    }

    function TratarSelecaoMaterial@(uniqueIdentifier)(id, descricao, unidadeMedida) {
        $('#@(uniqueIdentifier)').val(id);
        $('#@Html.IdFor(m => m.Descricao)').val(descricao);
        $('#@Html.IdFor(m => m.SiglaUnidadeMedida)').val(unidadeMedida);
        $('#@(uniqueIdentifier)_Pesquisa_ModalPanel').modal('hide');

        @if (insumoControlado.Value)
        {
            @:itemInsumoSelecionado = false;
            @:ObterInterfaceOrcamento_@(uniqueIdentifier)();
        }
    }

    function fillTableInterfaceOrcamentoItem_@(uniqueIdentifier)(listaInterfaceOrcamentoItem) {
        $("#@(uniqueIdentifier)_tableItens tbody").empty();
        for (var i = 0; i < listaInterfaceOrcamentoItem.length; i++) {
            var row = $('<tr />')
            $("#@(uniqueIdentifier)_tableItens tbody").append(row);

            row.append($('<td class="text-nowrap">' + listaInterfaceOrcamentoItem[i].Composicao.Descricao + '</td>'));
            row.append($('<td class="text-nowrap">' + listaInterfaceOrcamentoItem[i].Classe.Codigo + ' - ' + listaInterfaceOrcamentoItem[i].Classe.Descricao + '</td>'));
            row.append($('<td class="text-nowrap">' + listaInterfaceOrcamentoItem[i].Material.Descricao + '</td>'));
            row.append($('<td class="text-nowrap text-right">' + roundDecimal(floatToString(listaInterfaceOrcamentoItem[i].QuantidadeOrcada), 5) + '</td>'));
            row.append($('<td class="text-nowrap text-right">' + roundDecimal(floatToString(listaInterfaceOrcamentoItem[i].QuantidadeRequisitada), 4) + '</td>'));
            var saldo = roundDecimal(floatToString(listaInterfaceOrcamentoItem[i].QuantidadeOrcada - listaInterfaceOrcamentoItem[i].QuantidadeRequisitada), 4);
            row.append($('<td class="text-nowrap text-right">' + saldo + '</td>'));
            row.append($('<td class="quantidadeInsumo"><input type="text" class="text-right decimal-4-casas" style="width:100px;" value="0,0000" data-saldo="' + saldo + '" data-material="' + listaInterfaceOrcamentoItem[i].Material.Id + '" data-composicao="' + listaInterfaceOrcamentoItem[i].Composicao.Id + '" data-codigo-classe="' + listaInterfaceOrcamentoItem[i].Classe.Codigo + '" data-descricao-classe="' + listaInterfaceOrcamentoItem[i].Classe.Descricao + '"></td>'));
        }
    }

    function ObterInterfaceOrcamento_@(uniqueIdentifier)() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ObterInterfaceOrcamento", "Material", new { area = "" })',
            cache: false,
            async: false,
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                materialId: $("#@(Html.IdFor(m => m.Id))").val(),
                codigoCentroCusto: codigoCentroCusto_@(uniqueIdentifier),
                codigoClasse: codigoClasse_@(uniqueIdentifier)
            })
        })
        .success(function (result) {
            var interfaceOrcamento = result;
            if (interfaceOrcamento.ErrorMessages.length !== 0) {
                for (var i = 0; i < interfaceOrcamento.ErrorMessages.length; i++) {
                    smartAlert("Erro", interfaceOrcamento.ErrorMessages[i].Text, "error");
                    limpaMaterialForm_@(uniqueIdentifier)();
                }
            }
            else {
                if (interfaceOrcamento.ExibirTelaInterfaceOrcamento) {
                    fillTableInterfaceOrcamentoItem_@(uniqueIdentifier)(interfaceOrcamento.ListaItens);
                    initializeFieldBehaviour();
                    $('#@(uniqueIdentifier)_ModalPanel').modal('show');
                }
            }
        });
    }

    function limpaMaterialForm_@(uniqueIdentifier)() {
        $("#@(Html.IdFor(m => m.Id))").val('');
        $("#@Html.IdFor(m => m.Descricao)").val('');
        $("#@Html.IdFor(m => m.SiglaUnidadeMedida)").val('');
    }

    function blockMaterialForm_@(uniqueIdentifier)() {
        $("#@Html.IdFor(m => m.Descricao)").attr("readonly", true);
        $("#@Html.IdFor(m => m.Descricao)").addClass("readonly");
        if ("#@ViewBag.exibirCampoUnidadeMedida") {
            $("#BtnShowModalPanel1_@(uniqueIdentifier)").attr('href', '@linkNotificarObrigatoriedadeCentroCusto');
        }
        else {
            $("#BtnShowModalPanel2_@(uniqueIdentifier)").attr('href', '@linkNotificarObrigatoriedadeCentroCusto');
        }
    }

    function unblockMaterialForm_@(uniqueIdentifier)() {
        $("#@Html.IdFor(m => m.Descricao)").attr("readonly", false);
        $("#@Html.IdFor(m => m.Descricao)").removeClass("readonly");
        if ("#@ViewBag.exibirCampoUnidadeMedida") {
            $("#BtnShowModalPanel1_@(uniqueIdentifier)").attr('href', '@linkModal');
        }
        else {
            $("#BtnShowModalPanel2_@(uniqueIdentifier)").attr('href', '@linkModal');
        }
    }

    function initializeFieldBehaviour() {
        initializeDecimalBehaviour();
        $('td[class=quantidadeInsumo] input[type=text]').each(function () {
            $(this).on("focusout", function () {
                if (parseFloat($(this).val()) > parseFloat($(this).data('saldo'))) {
                    smartAlert("Erro", "A quantidade informada está maior que o saldo disponível para ser requisitado.", "error");
                    $(this).val(roundDecimal(0, 4));
                }
            });
        });
    }

</script>